<div id="banner">

  <section>
    <h2 class="page-top-title">blog unblock</h2>
  </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix blog content-text">

  <div id="left-large" data-blog-directive>

    <!-- repeat old blog posts here -->
    <div data-ng-repeat="blog in totalBlogPosts | orderBy: '-publishedDate' | limitTo: displayPosts  track by $index">
      <div data-blog-block-directive blog="blog" srcset="BlogIndexCtrl.srcsetImage(blog.displayImage);"></div>
    </div>

    <div id="more-posts" class="clearfix" data-ng-click="BlogIndexCtrl.morePosts();">

      <div><h6>More posts</h6></div>
      <div><span class="down-arrow"></span></div>

    </div>

  </div>
  <!-- end left large -->

    <div data-ng-include src="'../blog-sidebar/sidebar.html'"></div>

  <!-- end right small -->


</div><!-- end main content -->
