div[id=banner] {
  height: 194px;
  background: $bannerBackround;
  position: relative;

  section {
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    @include transform("translate(-50%,-50%)");
    text-align: center;
    width: 38.28696925329429%;
  }

  a {
    text-decoration: none;
  }
}

@include breakpoint("mobile") {

  div[id=banner] {
    height: 194px;

    background: $bannerBackround;
    position: relative;

    section {
      margin: auto;
      position: absolute;
      top: 50%; left: 50%;
      @include transform("translate(-50%,-50%)");
      text-align: center;
      width: 100%;
      padding: 0 4.172767203513909%;
    }
  }
}
