.blog {

  article {
    border-bottom: 1px solid $boxBorder;
    margin: 0 0 25px 0;
    padding: 0 0 25px 0;

    ol {
      list-style-position:inside;
    }

    header {
      border: 1px solid $boxBorder;
      background-clip: content-box;
      padding: 4px;
      overflow: hidden;
      width: 100%;
      text-align: center;
      margin: 0 0 15px 0;
    }

    .image-container {
      border: 1px solid $boxBorder;
      background-clip: content-box;
      padding: 4px;
      overflow: hidden;
      width: 100%;
      text-align: center;
    }

    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    blockquote {
      background: white;
      border-left: 5px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }
    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
    }

    aside {
      width: 33%;
      margin: 0 0 0 2%;
      padding: 0 0 0 2%;
      float: right;
      border-left: 1px solid $boxBorder;
    }

    aside:empty {
      display: none;
    }
  }

  .user-comments {
    border-bottom: 1px solid $boxBorder;
    margin: 0 0 25px 0;
    padding: 0 0 25px 0;
    display: inline-block;
    white-space: pre-line;
    p:first-of-type {
      font-weight: 600;
    }
  }

  #right-small {

    // changing the margin for the list items in the Category sidebar section
    h4.content-title:nth-of-type(2) + ul li:not(:last-of-type) {
      margin-bottom: 0;
    }

    a {
      color: lighten($textTwo, 10%);
      text-decoration: none;
      display: block;
      margin-bottom : 10px;
    }

    h4.content-title + ul {
      margin-bottom: 25px;
      display: inline-block;
    }
  }
}

@include breakpoint(mobile) {

  .blog {

    article {
      margin: 0 0 20px 0;
      padding: 0 0 20px 0;

      header {
        margin: 0 0 10px 0;
      }
    }

    #right-small {

      h4.content-title + ul {
        margin-bottom: 20px;
      }
    }
  }

}

#pagination {

  text-align: center;

  .left-p {
    float: left;
    width: 55px;
    height: 54px;
    margin: 0 14px 14px 0;
  }

  .center-p {
    float: left;
    margin: 0 7px 0 0;
    @include calc('width', '100% - (55px * 2) - (14px * 2)');
  }

  .right-p {
    float: left;
    width: 55px;
    height: 54px;
  }

  [class*="pag"] {
    width: 55px;
    height: 54px;
    display: block;
    float: left;
    cursor: pointer;
    background-size: contain;
    margin: 0 14px 14px 0;

    &:last-of-type {
      margin: 0;
    }
  }

  // the first pagination item which is the left arrow d

  .left-p [class*="pag"]{
    background: $leftArrow;
    &:hover {
      background: $leftArrowHover;
    }
  }

  $percentage: 10;

  // loops through the ten different number background images for the pagination

  @for $i from 1 through $percentage {
    .pag#{$i * 1} {
      background: url('/images/svg/solid#{((10 / $percentage) * $i)}.svg') no-repeat center center;
      &:hover {
        background: url('/images/svg/outline#{((10 / $percentage) * $i)}.svg') no-repeat center center;
      }
    }
  }

  // the last pagination item which is the the right arrow

  .right-p [class*="pag"]{
    background: $rightArrow;
    &:hover {
      background: $rightArrowHover;
    }
  }
}

@include breakpoint(tablet) {

  .blog {

    #left-large {
      width: auto;
      float: none;
      display: block;
      margin: 0 0 0 0;
    }

    #right-small {
      display: none;
    }

    &.blog-single {

      #left-large {
        // set width 100% instead of auto or images are not responsive on Firefox
        width: 100%;
        margin: 0 0 20px 0;
        display: inline-block;
      }

      #right-small {
        width: auto;
        float: none;
        display: block;
        margin: 0 0 0 0;
        clear: both;
      }
    }
  }
}

@include breakpoint(mobile) {

  .blog {
    article {
      aside {
        display: none;
      }
    }
  }

  #pagination {

    text-align: center;

    .left-p {
      float: left;
      width: 55px;
      height: 54px;
      margin: 0 14px 14px 0;
    }

    .center-p {
      display: none;
    }

    .right-p {
      float: right;
      width: 55px;
      height: 54px;
    }

  }


}