.blog {

  article {
    border-bottom: 1px solid $boxBorder;
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;

    header {
      border: 1px solid $boxBorder;
      background-clip: content-box;
      padding: 4px;
      overflow: hidden;
      width: 100%;
      text-align: center;
      margin: 0 0 10px 0;
    }

  }

  #right-small {

    h4.content-title:nth-of-type(2) + ul li:not(:last-of-type) {
      margin-bottom: 0;
    }

    h4.content-title + ul {
      margin-bottom: 30px;
      display: inline-block;
    }

  }

}

#pagination {

  [class*="pag"] {
    width: 56px;
    height: 56px;
    display: block;
    float: left;
  }

  [class*="pag"]:first-of-type {

  }

  $percentage: 10;

  @for $i from 1 through $percentage {
    .pag#{$i * 1} {
      //width: ((10 / $percentage) * $i);
    }
  }

  [class*="pag"]:last-of-type {

  }

}