@import "media_queries";
@import "library";
@import "variables";

#container {
  width: 1366px;
  padding: 0 57px;
  margin: 10px auto;
}

#left-large {
  width: 870px;
  float : left;
  padding: 0 0 57px 0;
}

#left-small {
  width: 382px;
  float: left;
}

#right-large {
  width: 870px;
  float: left;
}

#right-small {
  width: 382px;
  float: left;
}