#header {
  height: 84px;
  padding: 0 57px;
  background: $topHeaderBackground;
  white-space: nowrap;

  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:focus {
    color: $textOneHover;
  }
  a:hover {
    color: $textOneHover;
  }
  a:active {
    color: $textOneHover;
  }

}

@include breakpoint(wide) {

  #header {
    padding: 0 4.172767203513909%;
  }

}

#logo-wrapper {
  float: left;
  a {
    text-decoration: none;
  }
}

#navigation-wrapper {
  float: right;
  li {
    display: inline;
    list-style: none;
     + li {
       margin : 0 0 0 24px;
     }
    a {
      text-decoration: none;
      color: white;
      @include font-sharp();
    }
  }
}