#slider {
  //height: 546px;
  clear: both;
  background-color: $sliderBackground;
  background-image: $sliderOne;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: 40px 0 39.97071742313324% 0;
  position: relative;

  section {
    text-align: center;
    width: 38.28696925329429%;
    margin: 0 auto;
    background: black;
  }

  [class*="arrow"] {
    position: absolute;
    @include calc("top", "50% - 28px");
    width: 55px;
    height: 54px;
    display: block;
    background: black;
    cursor: pointer;
    //background-size: contain;
  }

  .left-arrow {
    left: 57px;
    background: $leftArrow;
    &:hover {
      background: $leftArrowHover;
    }
  }

  .right-arrow {
    right: 57px;
    background: $rightArrow;
    &:hover {
      background: $rightArrowHover;
    }
  }

}

@include breakpoint(wide) {

  #slider {

    .left-arrow {
      left: 4.172767203513909%;
    }

    .right-arrow {
      right: 4.172767203513909%;
    }

  }

}

#homepage-stats {
  padding: 0 114px;
  height: 224px;
  clear: both;
  background: $homepageStatsBackground;

  // cross browser support for flexbox

  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  > span {
    // header and content for span blocks
    width: 20%;
    padding: 0 2%;
    float: left;
    text-align: center;
    &:first-of-type {
      padding: 0 2% 0 0;
    }
    &:last-of-type {
      padding: 0 2% 0 0;
    }
    header {

    }
    section {

    }
  }

}

@include breakpoint(wide) {

  #homepage-stats {
    padding: 0 4.172767203513909%;
  }

}