.my-work {

  [class*="project-box"] {
    text-decoration: none;
    background-color: $imageBackground;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    // lets the H3 title use animation to appear
    &:hover {
      header h3 {
        opacity: 1;
        @include transform("translateY(0)");
      }
    }
  }

  .project-box-one {
    background-image: $workOne;
  }

  .project-box-two {
    background-image: $workTwo;
  }

  .project-box-three {
    background-image: $workThree;
  }

  .project-box-four {
    background-image: $workFour;
  }

  .project-box-five {
    background-image: $workFive;
  }

  .project-box-six {
    visibility: hidden;
  }

  .project-box-one, .project-box-two, .project-box-three {
    margin-bottom: 33px;
  }

  header {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    h3 {
      @include transitions("all 0.5s");
      @include transform("translateY(30px)");
      margin-top: 10%;
      opacity: 0;
    }
  }

  #left-small {

    article {
      border-bottom: 1px solid $boxBorder;
      margin: 0 0 30px 0;
      padding: 0 0 20px 0;
    }
  }

  #right-large {

    img {
      border: 1px solid $boxBorder;
      background-clip: content-box;
      padding: 4px;
      overflow: hidden;
    }
  }

  .pagination {

    [class*="pag"] {
      width: 55px;
      height: 54px;
      display: block;
      float: left;
      cursor: pointer;
      background-size: contain;
      margin: 0 14px 0 0;
      background-color: black;

      &:last-of-type {
        margin: 0;
      }
    }

    .paglast {
      background: $leftArrow;
      &:hover {
        background: $leftArrowHover;
      }
    }

    .pagHome {
      background: $index;
      &:hover {
        background: $indexHover;
      }
    }

    .pagnext {
      background: $rightArrow;
      &:hover {
        background: $rightArrowHover;
      }
    }
  }
}

@include breakpoint("tablet") {

  .my-work {

    #left-small {

      article {
        border-bottom: none;
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
      }
    }

    #left-small {
      width: auto;
      float: none;
      display: inline-block;
      margin: 0;
      border: none;
    }

    #right-large {
      width: auto;
      float: none;
      display: inline-block;
      padding: 0 0 0 0;
      img {
        margin: 0 0 40px 0;
      }
    }

    .pagination {
      border-top: 1px solid $boxBorder;
      padding: 40px 0 0 0;
      text-align: center;
      width: 100%;
    }

    .project-box-one, .project-box-two, .project-box-three, .project-box-four {
      margin-bottom: 33px;
    }
    .project-box-five, .project-box-six {
      margin-bottom: 0;
    }
  }
}

@include breakpoint("mobile") {

  .my-work {

    .project-box-six {
      display: none;
    }
  }
}






