.side-projects {

  [class*="project-box"] {
    text-decoration: none;
    background-color: $imageBackground;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    // lets the H3 title use animation to appear
    &:hover {
      header h3 {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }

  .project-box-one {
    background-image: $sideOne;
  }

  .project-box-two {
    background-image: $sideTwo;
  }

  .project-box-three {
    background-image: $sideThree;
  }

  header {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    h3 {
      @include transitions(all 0.5s);
      @include transform(translateY(30px));
      margin-top: 10%;
      opacity: 0;
    }
  }

}