$leftArrow: url('/images/svg/left-arrow.svg');
$leftArrowHover: url('/images/svg/left-arrow-hover.svg');
$rightArrow: url('/images/svg/right-arrow.svg');
$rightArrowHover: url('/images/svg/right-arrow-hover.svg');