$leftArrow: url('/images/svg/left-arrow.svg') no-repeat center center;
$leftArrowHover: url('/images/svg/left-arrow-hover.svg') no-repeat center center;
$rightArrow: url('/images/svg/right-arrow.svg') no-repeat center center;
$rightArrowHover: url('/images/svg/right-arrow-hover.svg') no-repeat center center;