$baseLineHeight: 2.0;
$baseFontSize: 62.5%;
$baseFontFamily: unquote("'Open Sans', sans-serif");
$secondaryFontFamily: unquote("'Yellowtail', cursive");

$textOne: #04b3da;
$textOneHover: #00bd9c;
$textTwo: #666666;