$baseLineHeight: 2.5;
$baseFontSize: 62.5%;
$baseFontFamily: unquote("'Open Sans', sans-serif");
$secondaryFontFamily: unquote("'Yellowtail', cursive");

// colors
$textOne: #04b3da;
$textOneHover: #00bd9c;
$textTwo: #666666;
$textThree: #999999;
// blue
$textFour: #04b3da;
$border: #cccccc;

// backgrounds
$topFooterBackground: #f4f3f2;
$bottomFooterBackground: #27353d;
$topHeaderBackground: #27353d;
$homepageStatsBackground: #00bd9c;
$bannerBackround: #00bd9c;
$imageBackground: #04b4dc;
$imageBackgroundContrast: #81d9ed;

// hover overlay
$workBoxes: #4cd1ba;

// borders
$boxBorder: #cccccc;

$media_breakpoint_wide: 1366px;
$media_breakpoint_desktop: 960px;
$media_breakpoint_tablet: 767px;
$media_breakpoint_mobile: 500px;

// heights
$headerHeight: 84px;
$bottomFooterHeight: 94px;

// images
$sliderOne: url('/images/slider/thompson-reuters-japan.png');


// work
$workOne: url('/images/blinkbox-work.png');
$workTwo: url('/images/reuters-japan-work.png');
$workThree: url('/images/law-student-work.png');
$workFour: url('/images/kaplan-work.png');
$workFive: url('/images/newmans-clinic-work.png');

$sideOne: url('/images/lightning-sideproject.png');
$sideTwo: url('/images/pennybooks-sideproject.png');
$sideThree: url('/images/twt-twt-sideproject.png');