$baseLineHeight: 2.0;
$baseFontSize: 62.5%;
$baseFontFamily: unquote("'Open Sans', sans-serif");
$secondaryFontFamily: unquote("'Yellowtail', cursive");

$tableLineHeight: 10;

// colors
$textOne: #04b3da;
$textOneHover: #00bd9c;
$textTwo: #666666;
$textThree: #999999;
// blue
$textFour: #04b3da;
$border: #cccccc;

// backgrounds
$topFooterBackground: #f4f3f2;
$bottomFooterBackground: #f4f3f2;
$topHeaderBackground: #27353d;

$media_breakpoint_wide: 1366px;
$media_breakpoint_tablet: 767px;
$media_breakpoint_mobile: 500px;