@import "reset";
@import "variables";
@import "mixins";


html {
  font: #{$baseFontSize} / #{$baseLineHeight} $baseFontFamily;
}

@include breakpoint(tablet) {

  html {
    font: #{$baseFontSize} / #{$tableLineHeight} $baseFontFamily;
  }

}

@include breakpoint(tablet) {

  html {
    font: #{$baseFontSize} / #{$tableLineHeight} $baseFontFamily;
  }

}

@import "modules/grid";
@import "modules/typography";
@import "modules/svg";
@import "modules/navigation";
@import "modules/buttons";
@import "modules/forms";
@import "modules/icons";
@import "modules/media_queries";
@import "header";
@import "homepage";
@import "mywork";
@import "blog";
@import "footer";