/* line 1, _reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent;
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 18, _reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 27, _reset.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 39, _reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 49, _reset.scss */
[hidden], template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 63, _reset.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  text-size-adjust: 100%;
}

/**
 * Remove default margin.
 */
/* line 77, _reset.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, _reset.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 101, _reset.scss */
a:focus {
  outline: thin dotted #cccccc;
}

/* line 105, _reset.scss */
textarea:focus, input:focus {
  outline: thin dotted #cccccc;
}

/* line 109, _reset.scss */
:focus {
  outline: thin dotted #cccccc;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, _reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 125, _reset.scss */
b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 133, _reset.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 141, _reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 151, _reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 160, _reset.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 169, _reset.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 177, _reset.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 185, _reset.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 193, _reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 200, _reset.scss */
sup {
  top: -0.5em;
}

/* line 204, _reset.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 216, _reset.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 224, _reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 236, _reset.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 248, _reset.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 259, _reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 271, _reset.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 282, _reset.scss */
button, input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 293, _reset.scss */
button, select {
  text-transform: none;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
/* line 301, _reset.scss */
button {
  overflow: visible;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 314, _reset.scss */
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 323, _reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 332, _reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 343, _reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 355, _reset.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 363, _reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 373, _reset.scss */
input {
  line-height: normal;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 382, _reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 395, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 400, _reset.scss */
td, th {
  padding: 0;
}

/* disable / enable fort kerning and in all modern browers from ie9 upwards */
/* line 406, _reset.scss */
body {
  /* only optimize text for headers due to performance issues */
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-kerning: auto;
  -moz-font-kerning: auto;
  font-kerning: auto;
}

/* line 415, _reset.scss */
h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal;
  /* just left it in the headers. Was making font less legible elsewhere */
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
}

/* slight character and word gap of retina devices to make the text more legible */
@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx), (min-resolution: 192dpi) {
  /* line 429, _reset.scss */
  p, li {
    letter-spacing: 0.01rem;
    word-spacing: 0.01rem;
  }
}
/* { Box-sizing: Border-box } FTW: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 437, _reset.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 442, _reset.scss */
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 447, _reset.scss */
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 452, _reset.scss */
input[type=submit], input[type=button], select, a {
  cursor: pointer;
}

/* line 456, _reset.scss */
textarea {
  resize: vertical;
  overflow: auto;
  width: 100%;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 468, _reset.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* Remove Search Box Buttons in WebKit: http://davidwalsh.name/remove-search-box-buttons-webkit */
/* line 473, _reset.scss */
input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* make placeholder text disappear on focus */
/* line 478, _reset.scss */
:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* line 482, _reset.scss */
:focus:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0;
}

/* line 487, _reset.scss */
:focus::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0;
}

/* line 492, _reset.scss */
:focus:-ms-input-placeholder {
  opacity: 0;
}

/* line 496, _reset.scss */
:focus::input-placeholder {
  opacity: 0;
}

/* responsive images */
/* line 502, _reset.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

/* set colour links */
/* line 511, _reset.scss */
a:link {
  color: blue;
}

/* line 515, _reset.scss */
a:visited {
  color: blue;
}

/* line 519, _reset.scss */
a:focus {
  color: blue;
}

/* line 523, _reset.scss */
a:hover {
  color: blue;
}

/* line 527, _reset.scss */
a:active {
  color: blue;
}

/* selected link */
/* line 533, _reset.scss */
.hide {
  display: none;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/
/* line 541, _reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* clearfix */
/* line 553, _reset.scss */
.clearfix::before, .clearfix::after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 560, _reset.scss */
.clearfix::after {
  clear: both;
}

/* line 6, main.scss */
html {
  font: 62.5% / 2.5 'Open Sans', sans-serif;
}

@media (max-width: 960px) {
  /* line 14, main.scss */
  html {
    font: 62.5% / 2.5 'Open Sans', sans-serif;
  }
}
/* line 1, modules/_media_queries.scss */
.visible-phone {
  display: none !important;
}

/* line 5, modules/_media_queries.scss */
.visible-tablet {
  display: none !important;
}

/* line 9, modules/_media_queries.scss */
.hidden-desktop {
  display: none !important;
}

/* line 13, modules/_media_queries.scss */
.visible-desktop {
  display: inherit !important;
}

@media (min-width: 767px) and (max-width: 960px) {
  /* line 19, modules/_media_queries.scss */
  .hidden-desktop {
    display: inherit !important;
  }

  /* line 23, modules/_media_queries.scss */
  .visible-desktop {
    display: none !important;
  }

  /* line 27, modules/_media_queries.scss */
  .visible-tablet {
    display: inherit !important;
  }

  /* line 31, modules/_media_queries.scss */
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 500px) {
  /* line 39, modules/_media_queries.scss */
  .hidden-desktop {
    display: inherit !important;
  }

  /* line 43, modules/_media_queries.scss */
  .visible-desktop {
    display: none !important;
  }

  /* line 47, modules/_media_queries.scss */
  .visible-phone {
    display: inherit !important;
  }

  /* line 51, modules/_media_queries.scss */
  .hidden-phone {
    display: none !important;
  }
}
/* line 3, modules/_scrollbars.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* line 7, modules/_scrollbars.scss */
::-webkit-scrollbar-track {
  background: white;
}

/* line 11, modules/_scrollbars.scss */
::-webkit-scrollbar-button:vertical {
  color: white;
  background: white;
}

/* line 16, modules/_scrollbars.scss */
::-webkit-scrollbar-thumb:vertical {
  background: #00bd9c;
  border-radius: 50px;
  border: 2px solid white;
}

/* line 22, modules/_scrollbars.scss */
::-webkit-scrollbar-thumb:vertical:hover {
  -webkit-box-shadow: inset 5px 5px 6px #00bd9c;
  background: white;
}

/* line 27, modules/_scrollbars.scss */
::-webkit-scrollbar-thumb:horizontal {
  background: #00bd9c;
  border-radius: 50px;
  border: 2px solid white;
}

/* line 33, modules/_scrollbars.scss */
::-webkit-scrollbar-thumb:horizontal:hover {
  border: 1px solid #00bd9c;
}

/* line 1, modules/_grid.scss */
#container {
  width: 1366px;
  margin: 10px auto;
}

/* line 6, modules/_grid.scss */
#left-large {
  width: 822px;
  float: left;
  display: inline;
}

/* line 12, modules/_grid.scss */
#left-small {
  width: 398px;
  float: left;
  display: inline;
  margin: 0 32px 0 0;
}

/* line 19, modules/_grid.scss */
#right-large {
  width: 822px;
  float: left;
  display: inline;
}

/* line 25, modules/_grid.scss */
#right-small {
  width: 398px;
  float: left;
  display: inline;
  margin: 0 32px 0 0;
}

/* line 32, modules/_grid.scss */
#main-content {
  padding: 57px;
}

/* My work */
/* line 38, modules/_grid.scss */
[class*="project-box"] {
  width: -webkit-calc((100% / 3) - (66px / 3));
  width: calc((100% / 3) - (66px / 3));
  height: 285px;
  float: left;
  border: 1px solid #cccccc;
  margin-right: 33px;
  background-clip: content-box;
  padding: 4px;
  position: relative;
  cursor: pointer;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 50, modules/_grid.scss */
[class*="project-box"]::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  height: -webkit-calc(100% - 8px);
  height: calc(100% - 8px);
  display: block;
  background: #4cd1ba;
  opacity: 0;
  -ms-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 63, modules/_grid.scss */
[class*="project-box"]::after {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("/images/svg/more-work.svg") no-repeat center center;
  width: 55px;
  height: 56px;
  display: block;
  opacity: 0;
  -ms-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 76, modules/_grid.scss */
[class*="project-box"]:hover::before {
  opacity: 0.7;
}
/* line 80, modules/_grid.scss */
[class*="project-box"]:hover::after {
  opacity: 1;
}

@media screen and (min--moz-device-pixel-ratio: 0) {
  /* temp Firefox hack until I can work out a solution */
  /* line 88, modules/_grid.scss */
  [class*="project-box"] {
    width: -webkit-calc((100% / 3) - (66px / 2));
    width: calc((100% / 3) - (66px / 2));
  }
}
/* line 94, modules/_grid.scss */
[class*="project-box"]:nth-of-type(3n) {
  margin-right: 0;
  background-clip: content-box;
}

@media (max-width: 1366px) {
  /* line 101, modules/_grid.scss */
  #container {
    width: 99%;
  }

  /* line 123, modules/_grid.scss */
  #main-content {
    padding: 57px 4.172767203513909%;
  }

  /* line 127, modules/_grid.scss */
  [class*="project-box"] {
    height: 230px;
  }
}
/* line 11, modules/_typography.scss */
h1.logo {
  font: 3.5rem 'Yellowtail', cursive;
  line-height: 84px;
  color: white;
}

/* line 17, modules/_typography.scss */
.navigation li {
  font: 1.5rem 'Open Sans', sans-serif;
  text-transform: uppercase;
  line-height: 84px;
  font-weight: 700;
}

/* line 24, modules/_typography.scss */
h2.page-top-title {
  font: 4rem 'Open Sans', sans-serif;
  margin-bottom: 0.625rem;
  font-weight: 300;
  color: white;
}

/* line 30, modules/_typography.scss */
p.page-top-text {
  font: 1.8rem 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
}

/* line 36, modules/_typography.scss */
.front-page-bottom-header {
  font: 8rem 'Open Sans', sans-serif;
  margin-bottom: 0.625rem;
  font-weight: 300;
  color: white;
}

/* line 42, modules/_typography.scss */
.front-page-bottom-text {
  font: 1.3rem 'Open Sans', sans-serif;
  margin-bottom: 1.92308rem;
  font-weight: 600;
  color: white;
}

/* line 48, modules/_typography.scss */
.content-title {
  font: 3rem 'Open Sans', sans-serif;
  margin-bottom: 1.66667rem;
  font-weight: 300;
  color: #999999;
}

/* line 54, modules/_typography.scss */
h3.blog-title {
  font: 4rem 'Open Sans', sans-serif;
  margin-bottom: 1.25rem;
  font-weight: 300;
  color: #666666;
}

/* line 60, modules/_typography.scss */
.blog article h4 {
  font: 2.6rem 'Open Sans', sans-serif;
  margin-bottom: 1.92308rem;
  font-weight: 600;
  color: #666666;
}

/* little mixin for standard blog css attributes and values */
/* line 68, modules/_typography.scss */
.content-text li {
  font: 1.6rem 'Open Sans', sans-serif;
  margin-bottom: 1.5625rem;
  color: #666666;
  font-weight: 400;
  list-style: none;
}

/* line 68, modules/_typography.scss */
.content-text p {
  font: 1.6rem 'Open Sans', sans-serif;
  margin-bottom: 1.5625rem;
  color: #666666;
  font-weight: 400;
}

/* line 68, modules/_typography.scss */
.content-text p.date {
  font: 1.6rem 'Open Sans', sans-serif;
  margin-bottom: 1.5625rem;
  color: #666666;
  font-weight: 400;
  font-style: italic;
}

/* line 68, modules/_typography.scss */
.content-text p.read-more {
  font: 1.6rem 'Open Sans', sans-serif;
  margin-bottom: 1.5625rem;
  color: #666666;
  font-weight: 700;
}

/* line 68, modules/_typography.scss */
.content-text p.minor-title {
  font: 1.6rem 'Open Sans', sans-serif;
  margin-bottom: 1.5625rem;
  color: #666666;
  font-weight: 700;
}

/* line 97, modules/_typography.scss */
.blog #blog-content a:hover:after {
  content: "(Link: " attr(href) ")";
  color: #1d7a94;
  background: #fff;
  margin: 0 5px;
  text-decoration: underline;
}

/* line 107, modules/_typography.scss */
.content-text a.underline {
  text-decoration: none;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.3) 11%, rgba(0, 0, 0, 0.3) 16%, rgba(0, 0, 0, 0) 16%);
  position: relative;
}
/* line 113, modules/_typography.scss */
.content-text a.underline[rel="external"]::after {
  content: " " attr(href) " ";
  position: absolute;
  left: 20%;
  bottom: 100%;
  color: white;
  background: #666666;
  padding: 1px 5px;
  opacity: 0;
  -ms-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  white-space: nowrap;
}
/* line 125, modules/_typography.scss */
.content-text a.underline[rel="external"]:hover::after {
  opacity: 1;
}
/* line 129, modules/_typography.scss */
.content-text a.underline:link {
  color: #666666;
}
/* line 132, modules/_typography.scss */
.content-text a.underline:visited {
  color: gray;
}
/* line 135, modules/_typography.scss */
.content-text a.underline:focus {
  color: #666666;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.1) 11%, rgba(0, 0, 0, 0.1) 16%, rgba(0, 0, 0, 0) 16%);
}
/* line 139, modules/_typography.scss */
.content-text a.underline:hover {
  color: #666666;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.1) 11%, rgba(0, 0, 0, 0.1) 16%, rgba(0, 0, 0, 0) 16%);
}
/* line 144, modules/_typography.scss */
.content-text a.underline:active {
  color: #666666;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.1) 11%, rgba(0, 0, 0, 0.1) 16%, rgba(0, 0, 0, 0) 16%);
}

/* line 153, modules/_typography.scss */
h4.blog-sidebar-header {
  font: 3rem 'Open Sans', sans-serif;
  margin-bottom: 1.66667rem;
  font-weight: 300;
  color: #666666;
}

/* line 159, modules/_typography.scss */
.blog-sidebar-text p, ul.blog-sidebar-text {
  font: 1.6rem 'Open Sans', sans-serif;
  margin-bottom: 1.5625rem;
  font-weight: 600;
  color: #666666;
}

/* line 165, modules/_typography.scss */
h3.contact-header {
  font: 3rem 'Open Sans', sans-serif;
  margin-bottom: 1.66667rem;
  font-weight: 300;
  color: #666666;
}

/* line 171, modules/_typography.scss */
h3.project-header {
  font: 3rem 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
}

/* line 177, modules/_typography.scss */
.footer-top-text p, ul.footer-top-text {
  font: 2rem 'Open Sans', sans-serif;
  margin-bottom: 1.25rem;
  font-weight: 300;
  font-style: italic;
  color: #666666;
}

/* line 184, modules/_typography.scss */
.code-preview {
  font-size: 12px;
  color: #666666;
  line-height: 16px;
}

/* line 190, modules/_typography.scss */
p.footer-copyright {
  font: 1.3rem 'Open Sans', sans-serif;
  line-height: 94px;
  color: white;
  text-transform: capitalize;
}

/* line 1, modules/_buttons.scss */
.button-front-one {
  background: white;
  font: 1.6rem 'Open Sans', sans-serif;
  font-weight: 700;
  color: #04b3da;
  width: 320px;
  margin: 0 8px;
  height: 56px;
  line-height: 56px;
  border-radius: 5px;
}
/* line 11, modules/_buttons.scss */
.button-front-one:hover, .button-front-one:active {
  color: #026176;
}

/* line 16, modules/_buttons.scss */
.button-side-projects {
  width: 100%;
  height: 56px;
  line-height: 54px;
  font: 1.6rem 'Open Sans', sans-serif;
  color: #666666;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #666666;
}
/* line 25, modules/_buttons.scss */
.button-side-projects:hover, .button-side-projects:active {
  color: #333333;
}

/* line 30, modules/_buttons.scss */
.button-mywork {
  width: 100%;
  height: 56px;
  line-height: 54px;
  font: 1.6rem 'Open Sans', sans-serif;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  background: #666666;
}
/* line 39, modules/_buttons.scss */
.button-mywork:hover, .button-mywork:active {
  color: #e6e6e6;
}

/* line 44, modules/_buttons.scss */
.button-contact {
  width: 310px;
  height: 56px;
  line-height: 54px;
  font: 1.6rem 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  background: #00bd9c;
  clear: both;
  float: left;
  border: none;
}
/* line 56, modules/_buttons.scss */
.button-contact:hover, .button-contact:active {
  color: #e6e6e6;
}

/* line 61, modules/_buttons.scss */
.button-skills-aboutme {
  height: 58px;
  border-radius: 10px;
  background: #81d9ed;
  font: 2.6rem 'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
}

/* line 2, modules/_forms.scss */
::-webkit-input-placeholder {
  color: #999999;
}

/* line 6, modules/_forms.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}

/* line 11, modules/_forms.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}

/* line 16, modules/_forms.scss */
:-ms-input-placeholder {
  color: #999999;
}

/* line 22, modules/_forms.scss */
.contact .input, .comments .input {
  width: 70%;
  height: 66px;
  padding: 10px;
  border: 1px solid #cccccc;
  font: 1.6rem 'Open Sans', sans-serif;
  color: #666666;
  font-weight: 400;
  clear: both;
  float: left;
  margin: 0 0 20px 0;
}
/* line 33, modules/_forms.scss */
.contact .input:focus, .comments .input:focus {
  border: #666666;
}
/* line 38, modules/_forms.scss */
.contact .textarea, .comments .textarea {
  width: 100%;
  height: 271px;
  padding: 10px;
  border: 1px solid #cccccc;
  font: 1.6rem 'Open Sans', sans-serif;
  color: #666666;
  font-weight: 400;
  clear: both;
  float: left;
  margin: 0 0 20px 0;
}
/* line 49, modules/_forms.scss */
.contact .textarea:focus, .comments .textarea:focus {
  border: #666666;
}

@media screen and (min--moz-device-pixel-ratio: 0) {
  /* another firefox bug :( */
  /* line 62, modules/_forms.scss */
  .contact .input, .comments .input {
    width: calc(70% - 20px);
    height: 56px;
  }
  /* line 67, modules/_forms.scss */
  .contact .textarea, .comments .textarea {
    width: calc(100% - 20px);
    height: 261px;
  }
}
/* line 1, _header.scss */
#header {
  height: 84px;
  padding: 0 57px;
  background: #27353d;
  white-space: nowrap;
}
/* line 7, _header.scss */
#header a:link {
  color: white;
  -ms-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 11, _header.scss */
#header a:visited {
  color: white;
}
/* line 14, _header.scss */
#header a:focus {
  color: #00bd9c;
}
/* line 17, _header.scss */
#header a:hover {
  color: #00bd9c;
}
/* line 20, _header.scss */
#header a:active {
  color: #00bd9c;
}
/* line 23, _header.scss */
#header a.active {
  color: #00bd9c;
}

@media (max-width: 1366px) {
  /* line 31, _header.scss */
  #header {
    padding: 0 4.172767203513909%;
  }
}
/* line 37, _header.scss */
#logo-wrapper {
  float: left;
}
/* line 39, _header.scss */
#logo-wrapper a {
  text-decoration: none;
}

/* line 44, _header.scss */
#navigation-wrapper {
  float: right;
}
/* line 46, _header.scss */
#navigation-wrapper li {
  display: inline;
  list-style: none;
}
/* line 49, _header.scss */
#navigation-wrapper li + li {
  margin: 0 0 0 24px;
}
/* line 52, _header.scss */
#navigation-wrapper li a {
  text-decoration: none;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
}

/* line 1, _homepage.scss */
#slider {
  clear: both;
  background-color: #04b4dc;
  background-image: url("/images/slider/thompson-reuters-japan.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0 0 39.97071742313324% 0;
  position: relative;
}
/* line 11, _homepage.scss */
#slider section {
  position: absolute;
  top: 40px;
  left: -webkit-calc(61.7130307467% / 2);
  left: calc(61.7130307467% / 2);
  text-align: center;
  width: 38.28696925329429%;
}
/* line 19, _homepage.scss */
#slider [class*="arrow"] {
  position: absolute;
  top: -webkit-calc(50% - 28px);
  top: calc(50% - 28px);
  width: 55px;
  height: 54px;
  display: block;
  cursor: pointer;
  background-size: contain;
}
/* line 29, _homepage.scss */
#slider .left-arrow {
  left: 57px;
  background: url("/images/svg/left-arrow.svg") no-repeat center center;
}
/* line 32, _homepage.scss */
#slider .left-arrow:hover {
  background: url("/images/svg/left-arrow-hover.svg") no-repeat center center;
}
/* line 37, _homepage.scss */
#slider .right-arrow {
  right: 57px;
  background: url("/images/svg/right-arrow.svg") no-repeat center center;
}
/* line 40, _homepage.scss */
#slider .right-arrow:hover {
  background: url("/images/svg/right-arrow-hover.svg") no-repeat center center;
}

@media (max-width: 1366px) {
  /* line 51, _homepage.scss */
  #slider .left-arrow {
    left: 4.172767203513909%;
  }
  /* line 55, _homepage.scss */
  #slider .right-arrow {
    right: 4.172767203513909%;
  }
}
/* line 63, _homepage.scss */
#homepage-stats {
  padding: 0 114px;
  height: 224px;
  clear: both;
  background: #00bd9c;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
/* line 87, _homepage.scss */
#homepage-stats > span {
  width: 20%;
  padding: 0 2%;
  float: left;
  text-align: center;
}
/* line 93, _homepage.scss */
#homepage-stats > span:first-of-type {
  padding: 0 2% 0 0;
}
/* line 96, _homepage.scss */
#homepage-stats > span:last-of-type {
  padding: 0 2% 0 0;
}

@media (max-width: 1366px) {
  /* line 113, _homepage.scss */
  #homepage-stats {
    padding: 0 4.172767203513909%;
  }
}
/* line 1, _banner.scss */
#banner {
  height: 194px;
  background: #00bd9c;
  position: relative;
}
/* line 6, _banner.scss */
#banner section {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  width: 38.28696925329429%;
}

/* line 3, _mywork.scss */
.my-work [class*="project-box"] {
  text-decoration: none;
  background-color: #04b4dc;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
/* line 11, _mywork.scss */
.my-work [class*="project-box"]:hover header h3 {
  opacity: 1;
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 18, _mywork.scss */
.my-work .project-box-one {
  background-image: url("/images/blinkbox-work.png");
}
/* line 22, _mywork.scss */
.my-work .project-box-two {
  background-image: url("/images/reuters-japan-work.png");
}
/* line 26, _mywork.scss */
.my-work .project-box-three {
  background-image: url("/images/law-student-work.png");
}
/* line 30, _mywork.scss */
.my-work .project-box-four {
  background-image: url("/images/kaplan-work.png");
}
/* line 34, _mywork.scss */
.my-work .project-box-five {
  background-image: url("/images/newmans-clinic-work.png");
}
/* line 38, _mywork.scss */
.my-work .project-box-six {
  visibility: hidden;
}
/* line 42, _mywork.scss */
.my-work .project-box-one, .my-work .project-box-two, .my-work .project-box-three {
  margin-bottom: 33px;
}
/* line 46, _mywork.scss */
.my-work header {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
}
/* line 51, _mywork.scss */
.my-work header h3 {
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  margin-top: 10%;
  opacity: 0;
}
/* line 61, _mywork.scss */
.my-work #left-small article {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 30px 0;
  padding: 0 0 20px 0;
}
/* line 71, _mywork.scss */
.my-work #right-large img {
  border: 1px solid #cccccc;
  background-clip: content-box;
  padding: 4px;
  overflow: hidden;
}
/* line 82, _mywork.scss */
.my-work .pagination [class*="pag"] {
  width: 55px;
  height: 54px;
  display: block;
  float: left;
  cursor: pointer;
  background-size: contain;
  margin: 0 14px 0 0;
  background-color: black;
}
/* line 92, _mywork.scss */
.my-work .pagination [class*="pag"]:last-of-type {
  margin: 0;
}
/* line 98, _mywork.scss */
.my-work .pagination .paglast {
  background: url("/images/svg/left-arrow.svg") no-repeat center center;
}
/* line 100, _mywork.scss */
.my-work .pagination .paglast:hover {
  background: url("/images/svg/left-arrow-hover.svg") no-repeat center center;
}
/* line 105, _mywork.scss */
.my-work .pagination .pagHome {
  background: url("/images/svg/index.svg") no-repeat center center;
}
/* line 107, _mywork.scss */
.my-work .pagination .pagHome:hover {
  background: url("/images/svg/index-hover.svg") no-repeat center center;
}
/* line 112, _mywork.scss */
.my-work .pagination .pagnext {
  background: url("/images/svg/right-arrow.svg") no-repeat center center;
}
/* line 114, _mywork.scss */
.my-work .pagination .pagnext:hover {
  background: url("/images/svg/right-arrow-hover.svg") no-repeat center center;
}

/* line 3, _sideprojects.scss */
.side-projects [class*="project-box"] {
  text-decoration: none;
  background-color: #04b4dc;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
/* line 11, _sideprojects.scss */
.side-projects [class*="project-box"]:hover header h3 {
  opacity: 1;
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 18, _sideprojects.scss */
.side-projects .project-box-one {
  background-image: url("/images/lightning-sideproject.png");
}
/* line 22, _sideprojects.scss */
.side-projects .project-box-two {
  background-image: url("/images/pennybooks-sideproject.png");
}
/* line 26, _sideprojects.scss */
.side-projects .project-box-three {
  background-image: url("/images/twt-twt-sideproject.png");
}
/* line 30, _sideprojects.scss */
.side-projects header {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
}
/* line 35, _sideprojects.scss */
.side-projects header h3 {
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  margin-top: 10%;
  opacity: 0;
}

/* line 3, _aboutme.scss */
.aboutme section {
  display: inline-block;
  margin: 10px 0 0 0;
}
/* line 8, _aboutme.scss */
.aboutme .button-skills-aboutme.section {
  width: 48%;
  float: left;
  margin-bottom: 20px;
  line-height: 58px;
}
/* line 15, _aboutme.scss */
.aboutme .button-skills-aboutme.section:nth-of-type(even) {
  margin-left: 4%;
}
/* line 19, _aboutme.scss */
.aboutme [class*="per"] span {
  display: block;
  height: 100%;
  background: #04b4dc;
  padding-left: 20px;
  border-radius: 10px 0 0 10px;
}
/* line 33, _aboutme.scss */
.aboutme .per_10 span {
  width: 10%;
}
/* line 33, _aboutme.scss */
.aboutme .per_20 span {
  width: 20%;
}
/* line 33, _aboutme.scss */
.aboutme .per_30 span {
  width: 30%;
}
/* line 33, _aboutme.scss */
.aboutme .per_40 span {
  width: 40%;
}
/* line 33, _aboutme.scss */
.aboutme .per_50 span {
  width: 50%;
}
/* line 33, _aboutme.scss */
.aboutme .per_60 span {
  width: 60%;
}
/* line 33, _aboutme.scss */
.aboutme .per_70 span {
  width: 70%;
}
/* line 33, _aboutme.scss */
.aboutme .per_80 span {
  width: 80%;
}
/* line 33, _aboutme.scss */
.aboutme .per_90 span {
  width: 90%;
}
/* line 33, _aboutme.scss */
.aboutme .per_100 span {
  width: 100%;
}
/* line 38, _aboutme.scss */
.aboutme .per_100 span {
  border-radius: 10px;
}

@media (min-device-width: 768px) {
  /* line 49, _aboutme.scss */
  .aboutme [class*="per"] span {
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
    -webkit-animation: fadeIn ease-out 1;
    -moz-animation: fadeIn ease-out 1;
    -ms-animation: fadeIn ease-out 1;
    animation: fadeIn ease-out 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
  }
  /* line 76, _aboutme.scss */
  .aboutme [class*="per"]:last-of-type {
    -webkit-animation-name: shake;
    -webkit-animation-delay: 6s;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: shake;
    animation-delay: 6s;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @-webkit-keyframes fadeIn {
    /* line 97, _aboutme.scss */
    from {
      opacity: 0;
      -webkit-transform: scaleX(0);
    }

    /* line 101, _aboutme.scss */
    to {
      opacity: 1;
      -webkit-transform: scaleX(1);
    }
}

  @-moz-keyframes fadeIn {
    /* line 107, _aboutme.scss */
    from {
      opacity: 0;
      -moz-transform: scaleX(0);
    }

    /* line 111, _aboutme.scss */
    to {
      opacity: 1;
      -moz-transform: scaleX(1);
    }
}

  @-ms-keyframes fadeIn {
    /* line 117, _aboutme.scss */
    from {
      opacity: 0;
      -moz-transform: scaleX(0);
    }

    /* line 121, _aboutme.scss */
    to {
      opacity: 1;
      -moz-transform: scaleX(1);
    }
}

  @keyframes fadeIn {
    /* line 127, _aboutme.scss */
    from {
      opacity: 0;
      transform: scaleX(0);
    }

    /* line 131, _aboutme.scss */
    to {
      opacity: 1;
      transform: scaleX(1);
    }
}

  @-webkit-keyframes shake {
    /* line 138, _aboutme.scss */
    0% {
      -webkit-transform: translate(2px, 1px) rotate(0deg);
    }

    /* line 141, _aboutme.scss */
    10% {
      -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }

    /* line 144, _aboutme.scss */
    20% {
      -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }

    /* line 147, _aboutme.scss */
    30% {
      -webkit-transform: translate(0px, 2px) rotate(0deg);
    }

    /* line 150, _aboutme.scss */
    40% {
      -webkit-transform: translate(1px, -1px) rotate(1deg);
    }

    /* line 153, _aboutme.scss */
    50% {
      -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }

    /* line 156, _aboutme.scss */
    60% {
      -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }

    /* line 159, _aboutme.scss */
    70% {
      -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }

    /* line 162, _aboutme.scss */
    80% {
      -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }

    /* line 165, _aboutme.scss */
    90% {
      -webkit-transform: translate(2px, 2px) rotate(0deg);
    }

    /* line 168, _aboutme.scss */
    100% {
      -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}

  @keyframes shake {
    /* line 174, _aboutme.scss */
    0% {
      transform: translate(2px, 1px) rotate(0deg);
    }

    /* line 177, _aboutme.scss */
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }

    /* line 180, _aboutme.scss */
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }

    /* line 183, _aboutme.scss */
    30% {
      transform: translate(0px, 2px) rotate(0deg);
    }

    /* line 186, _aboutme.scss */
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }

    /* line 189, _aboutme.scss */
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }

    /* line 192, _aboutme.scss */
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }

    /* line 195, _aboutme.scss */
    70% {
      transform: translate(2px, 1px) rotate(-1deg);
    }

    /* line 198, _aboutme.scss */
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }

    /* line 201, _aboutme.scss */
    90% {
      transform: translate(2px, 2px) rotate(0deg);
    }

    /* line 204, _aboutme.scss */
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
}
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  /* another firefox bug :( */
  /* line 220, _aboutme.scss */
  .aboutme .per_10 span {
    width: calc(10% - 20px);
  }
  /* line 220, _aboutme.scss */
  .aboutme .per_20 span {
    width: calc(20% - 20px);
  }
  /* line 220, _aboutme.scss */
  .aboutme .per_30 span {
    width: calc(30% - 20px);
  }
  /* line 220, _aboutme.scss */
  .aboutme .per_40 span {
    width: calc(40% - 20px);
  }
  /* line 220, _aboutme.scss */
  .aboutme .per_50 span {
    width: calc(50% - 20px);
  }
  /* line 220, _aboutme.scss */
  .aboutme .per_60 span {
    width: calc(60% - 20px);
  }
  /* line 220, _aboutme.scss */
  .aboutme .per_70 span {
    width: calc(70% - 20px);
  }
  /* line 220, _aboutme.scss */
  .aboutme .per_80 span {
    width: calc(80% - 20px);
  }
  /* line 220, _aboutme.scss */
  .aboutme .per_90 span {
    width: calc(90% - 20px);
  }
  /* line 220, _aboutme.scss */
  .aboutme .per_100 span {
    width: calc(100% - 20px);
  }
}
/* end for firefox hack */
/* line 3, _blog.scss */
.blog article {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 30px 0;
  padding: 0 0 20px 0;
}
/* line 8, _blog.scss */
.blog article header {
  border: 1px solid #cccccc;
  background-clip: content-box;
  padding: 4px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 0 0 10px 0;
}
/* line 23, _blog.scss */
.blog #right-small h4.content-title:nth-of-type(2) + ul li:not(:last-of-type) {
  margin-bottom: 0;
}
/* line 27, _blog.scss */
.blog #right-small h4.content-title + ul {
  margin-bottom: 30px;
  display: inline-block;
}

/* line 36, _blog.scss */
#pagination {
  text-align: center;
}
/* line 40, _blog.scss */
#pagination [class*="pag"] {
  width: 55px;
  height: 54px;
  display: block;
  float: left;
  cursor: pointer;
  background-size: contain;
  margin: 0 14px 0 0;
}
/* line 49, _blog.scss */
#pagination [class*="pag"]:last-of-type {
  margin: 0;
}
/* line 57, _blog.scss */
#pagination [class*="pag"]:first-of-type {
  background: url("/images/svg/left-arrow.svg") no-repeat center center;
}
/* line 59, _blog.scss */
#pagination [class*="pag"]:first-of-type:hover {
  background: url("/images/svg/left-arrow-hover.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag1 {
  background: url("/images/svg/solid1.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag1:hover {
  background: url("/images/svg/outline1.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag2 {
  background: url("/images/svg/solid2.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag2:hover {
  background: url("/images/svg/outline2.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag3 {
  background: url("/images/svg/solid3.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag3:hover {
  background: url("/images/svg/outline3.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag4 {
  background: url("/images/svg/solid4.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag4:hover {
  background: url("/images/svg/outline4.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag5 {
  background: url("/images/svg/solid5.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag5:hover {
  background: url("/images/svg/outline5.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag6 {
  background: url("/images/svg/solid6.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag6:hover {
  background: url("/images/svg/outline6.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag7 {
  background: url("/images/svg/solid7.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag7:hover {
  background: url("/images/svg/outline7.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag8 {
  background: url("/images/svg/solid8.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag8:hover {
  background: url("/images/svg/outline8.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag9 {
  background: url("/images/svg/solid9.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag9:hover {
  background: url("/images/svg/outline9.svg") no-repeat center center;
}
/* line 69, _blog.scss */
#pagination .pag10 {
  background: url("/images/svg/solid10.svg") no-repeat center center;
}
/* line 71, _blog.scss */
#pagination .pag10:hover {
  background: url("/images/svg/outline10.svg") no-repeat center center;
}
/* line 79, _blog.scss */
#pagination [class*="pag"]:last-of-type {
  background: url("/images/svg/right-arrow.svg") no-repeat center center;
}
/* line 81, _blog.scss */
#pagination [class*="pag"]:last-of-type:hover {
  background: url("/images/svg/right-arrow-hover.svg") no-repeat center center;
}

/* line 1, _footer.scss */
#footer {
  clear: both;
}

/* line 5, _footer.scss */
#footer-top {
  height: 281px;
  padding: 20px 57px 0 57px;
  overflow: hidden;
  background: #f4f3f2;
  position: relative;
}
/* line 11, _footer.scss */
#footer-top a {
  text-decoration: none;
}
/* line 14, _footer.scss */
#footer-top:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 94px;
  width: 100%;
  pointer-events: none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjNmMiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGYzZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(244, 243, 242, 0) 0%, #f4f3f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 243, 242, 0)), color-stop(100%, #f4f3f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(244, 243, 242, 0) 0%, #f4f3f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(244, 243, 242, 0) 0%, #f4f3f2 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, rgba(244, 243, 242, 0) 0%, #f4f3f2 100%);
  /* W3C */
}
/* line 29, _footer.scss */
#footer-top:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f4f3f2;
  opacity: 0;
  pointer-events: none;
  -ms-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 41, _footer.scss */
#footer-top:hover:before {
  opacity: 0.5;
}

@media (max-width: 1366px) {
  /* line 48, _footer.scss */
  #footer-top {
    padding: 30px 4.172767203513909% 0 4.172767203513909%;
  }
}
/* line 54, _footer.scss */
#footer-bottom {
  height: 94px;
  background: #27353d;
  text-align: center;
  position: relative;
  overflow: hidden;
}
/* line 60, _footer.scss */
#footer-bottom:before {
  content: '';
  position: absolute;
  top: -15px;
  left: -webkit-calc(50% - 10px);
  left: calc(50% - 10px);
  width: 21px;
  height: 21px;
  background: #f4f3f2;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
