/* line 175, _mixins.scss */
.line-through {
  text-decoration: line-through;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

/* line 1, modules/_media_queries.scss */
.visible-phone {
  display: none !important;
}

/* line 5, modules/_media_queries.scss */
.visible-tablet {
  display: none !important;
}

/* line 9, modules/_media_queries.scss */
.hidden-desktop {
  display: none !important;
}

/* line 13, modules/_media_queries.scss */
.visible-desktop {
  display: inherit !important;
}

@media (max-width: 979px) {
  /* line 19, modules/_media_queries.scss */
  .hidden-desktop {
    display: inherit !important;
  }

  /* line 23, modules/_media_queries.scss */
  .visible-desktop {
    display: none !important;
  }

  /* line 27, modules/_media_queries.scss */
  .visible-tablet {
    display: inherit !important;
  }

  /* line 31, modules/_media_queries.scss */
  .hidden-tablet {
    display: none !important;
  }
}
/* line 3, modules/_scrollbars.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* line 7, modules/_scrollbars.scss */
::-webkit-scrollbar-track {
  background: white;
}

/* line 11, modules/_scrollbars.scss */
::-webkit-scrollbar-button:vertical {
  color: white;
  background: white;
}

/* line 16, modules/_scrollbars.scss */
::-webkit-scrollbar-thumb:vertical {
  background: #00bd9c;
  border-radius: 50px;
  border: 2px solid white;
}

/* line 22, modules/_scrollbars.scss */
::-webkit-scrollbar-thumb:vertical:hover {
  -webkit-box-shadow: inset 5px 5px 6px #00bd9c;
  background: white;
}

/* line 27, modules/_scrollbars.scss */
::-webkit-scrollbar-thumb:horizontal {
  background: #00bd9c;
  border-radius: 50px;
  border: 2px solid white;
}

/* line 33, modules/_scrollbars.scss */
::-webkit-scrollbar-thumb:horizontal:hover {
  border: 1px solid #00bd9c;
}

/* line 1, modules/_buttons.scss */
a.button-front-one {
  background: white;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #04b3da;
  border: 1px solid #04b3da;
  width: 320px;
  display: inline-block;
  height: 56px;
  line-height: 56px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
/* line 15, modules/_buttons.scss */
a.button-front-one:hover, a.button-front-one:active {
  color: #026176;
}
/* line 18, modules/_buttons.scss */
a.button-front-one:disabled:hover, a.button-front-one:disabled:hover {
  color: white;
}

@media (max-width: 767px) {
  /* line 25, modules/_buttons.scss */
  a.button-front-one {
    width: 90%;
  }
}
/* line 30, modules/_buttons.scss */
.button-side-projects {
  width: 100%;
  height: 56px;
  line-height: 54px;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #666666;
}
/* line 39, modules/_buttons.scss */
.button-side-projects:hover, .button-side-projects:active {
  color: #333333;
}
/* line 42, modules/_buttons.scss */
.button-side-projects:disabled:hover, .button-side-projects:disabled:hover {
  color: white;
}

/* line 47, modules/_buttons.scss */
.button-mywork {
  width: 100%;
  height: 56px;
  line-height: 54px;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  background: #666666;
}
/* line 56, modules/_buttons.scss */
.button-mywork:hover, .button-mywork:active {
  color: #e6e6e6;
}
/* line 59, modules/_buttons.scss */
.button-mywork:disabled:hover, .button-mywork:disabled:hover {
  color: white;
}

/* line 64, modules/_buttons.scss */
.button-contact {
  width: 310px;
  height: 56px;
  line-height: 54px;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  background: #00bd9c;
  clear: both;
  float: left;
  border: none;
}
/* line 76, modules/_buttons.scss */
.button-contact:hover, .button-contact:active {
  color: #e6e6e6;
}
/* line 79, modules/_buttons.scss */
.button-contact:disabled:hover, .button-contact:disabled:hover {
  color: white;
}

/* line 84, modules/_buttons.scss */
.button-skills-aboutme {
  height: 58px;
  border-radius: 10px;
  background: #81d9ed;
  font-size: 2.6em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
}

@media (max-width: 767px) {
  /* line 95, modules/_buttons.scss */
  .button-contact {
    width: 100%;
  }
}
/* line 2, modules/_forms.scss */
::-webkit-input-placeholder {
  color: #999999;
}

/* line 6, modules/_forms.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}

/* line 11, modules/_forms.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}

/* line 16, modules/_forms.scss */
:-ms-input-placeholder {
  color: #999999;
}

/* line 23, modules/_forms.scss */
.user-details form input[type="submit"] {
  margin: 0 0 40px 0;
}
/* line 26, modules/_forms.scss */
.user-details form ~ p {
  clear: both;
}

/* line 34, modules/_forms.scss */
.contact .input, .comments .input, .login .input, .user-details .input {
  width: 70%;
  height: 66px;
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-weight: 400;
  clear: both;
  float: left;
  margin: 0 0 15px 0;
}
/* line 45, modules/_forms.scss */
.contact .input:focus, .comments .input:focus, .login .input:focus, .user-details .input:focus {
  border: 1px solid #666666;
}
/* line 50, modules/_forms.scss */
.contact .textarea, .comments .textarea, .login .textarea, .user-details .textarea {
  width: 100%;
  height: 271px;
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-weight: 400;
  clear: both;
  float: left;
  margin: 0 0 15px 0;
}
/* line 61, modules/_forms.scss */
.contact .textarea:focus, .comments .textarea:focus, .login .textarea:focus, .user-details .textarea:focus {
  border: 1px solid #666666;
}
/* line 66, modules/_forms.scss */
.contact .checkbox, .comments .checkbox, .login .checkbox, .user-details .checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  margin: 0 10px 15px 0;
  float: left;
}
/* line 74, modules/_forms.scss */
.contact [class$="-block"], .comments [class$="-block"], .login [class$="-block"], .user-details [class$="-block"] {
  position: relative;
  display: block;
  clear: both;
}
/* line 79, modules/_forms.scss */
.contact [class$="-block"] .error-message, .comments [class$="-block"] .error-message, .login [class$="-block"] .error-message, .user-details [class$="-block"] .error-message {
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  line-height: 30px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: -30px;
  color: white;
  background: #666666;
  padding: 0 5px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 109, modules/_forms.scss */
  input[type='text']:focus, input[type='url']:focus, input[type='email']:focus, textarea:focus {
    font-size: 16px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 979px) {
  /* line 115, modules/_forms.scss */
  input[type='text']:focus, input[type='url']:focus, input[type='email']:focus, textarea:focus {
    font-size: 15px;
  }
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  /* another firefox bug :( */
  /* line 126, modules/_forms.scss */
  .contact .input, .comments .input, .login .input, .user-details .input {
    width: calc(70% - 20px);
    height: 56px;
  }
  /* line 131, modules/_forms.scss */
  .contact .textarea, .comments .textarea, .login .textarea, .user-details .textarea {
    width: calc(100% - 20px);
    height: 261px;
  }
}
@media (max-width: 767px) {
  /* line 142, modules/_forms.scss */
  .contact .input, .comments .input, .login .input, .user-details .input {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 147, modules/_forms.scss */
  .contact .textarea, .comments .textarea, .login .textarea, .user-details .textarea {
    margin-bottom: 10px;
  }
}
/* line 3, _mywork.scss */
.my-work [class*="project-box"] {
  text-decoration: none;
  background-color: #04b4dc;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
/* line 11, _mywork.scss */
.my-work [class*="project-box"]:hover header h3 {
  opacity: 1;
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 18, _mywork.scss */
.my-work .project-box-one {
  background-image: url("/images/blinkbox-work.png");
}
/* line 22, _mywork.scss */
.my-work .project-box-two {
  background-image: url("/images/reuters-japan-work.png");
}
/* line 26, _mywork.scss */
.my-work .project-box-three {
  background-image: url("/images/law-student-work.png");
}
/* line 30, _mywork.scss */
.my-work .project-box-four {
  background-image: url("/images/kaplan-work.png");
}
/* line 34, _mywork.scss */
.my-work .project-box-five {
  background-image: url("/images/newmans-clinic-work.png");
}
/* line 38, _mywork.scss */
.my-work .project-box-six {
  visibility: hidden;
}
/* line 42, _mywork.scss */
.my-work .project-box-one, .my-work .project-box-two, .my-work .project-box-three {
  margin-bottom: 30px;
}
/* line 46, _mywork.scss */
.my-work header {
  position: absolute;
  left: 2.5559105431309903%;
  right: 2.5559105431309903%;
  width: 94.8881789137%;
  text-align: center;
  z-index: 1;
}
/* line 53, _mywork.scss */
.my-work header h3 {
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  margin-top: 10%;
  opacity: 0;
}
/* line 63, _mywork.scss */
.my-work #left-small article {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 25px 0;
  padding: 0 0 25px 0;
}
/* line 72, _mywork.scss */
.my-work #right-large img {
  border: 1px solid #cccccc;
  background-clip: content-box;
  padding: 4px;
  overflow: hidden;
}
/* line 82, _mywork.scss */
.my-work .pagination [class*="pag"] {
  width: 55px;
  height: 54px;
  display: block;
  float: left;
  cursor: pointer;
  background-size: contain;
  margin: 0 14px 0 0;
  background-color: black;
}
/* line 92, _mywork.scss */
.my-work .pagination [class*="pag"]:last-of-type {
  margin: 0;
}
/* line 97, _mywork.scss */
.my-work .pagination .paglast {
  background: url("/images/svg/left-arrow.svg") no-repeat center center;
}
/* line 99, _mywork.scss */
.my-work .pagination .paglast:hover {
  background: url("/images/svg/left-arrow-hover.svg") no-repeat center center;
}
/* line 104, _mywork.scss */
.my-work .pagination .pagHome {
  background: url("/images/svg/index.svg") no-repeat center center;
}
/* line 106, _mywork.scss */
.my-work .pagination .pagHome:hover {
  background: url("/images/svg/index-hover.svg") no-repeat center center;
}
/* line 111, _mywork.scss */
.my-work .pagination .pagnext {
  background: url("/images/svg/right-arrow.svg") no-repeat center center;
}
/* line 113, _mywork.scss */
.my-work .pagination .pagnext:hover {
  background: url("/images/svg/right-arrow-hover.svg") no-repeat center center;
}

@media (max-width: 979px) {
  /* line 126, _mywork.scss */
  .my-work #left-small article {
    border-bottom: none;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
  }
  /* line 133, _mywork.scss */
  .my-work #left-small {
    width: auto;
    float: none;
    display: inline-block;
    margin: 0;
    border: none;
  }
  /* line 141, _mywork.scss */
  .my-work #right-large {
    width: 100%;
    float: none;
    display: inline-block;
    padding: 0 0 0 0;
  }
  /* line 147, _mywork.scss */
  .my-work #right-large img {
    margin: 0 0 50px 0;
  }
  /* line 152, _mywork.scss */
  .my-work .pagination {
    border-top: 1px solid #cccccc;
    padding: 50px 0 0 0;
    text-align: center;
    width: 100%;
  }
  /* line 159, _mywork.scss */
  .my-work .project-box-one, .my-work .project-box-two, .my-work .project-box-three, .my-work .project-box-four {
    margin-bottom: 30px;
  }
  /* line 162, _mywork.scss */
  .my-work .project-box-five, .my-work .project-box-six {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  /* line 174, _mywork.scss */
  .my-work #left-small article {
    margin: 0 0 10px 0;
    padding: 0 0 15px 0;
  }
  /* line 181, _mywork.scss */
  .my-work #right-large img {
    margin: 0 0 40px 0;
  }
  /* line 186, _mywork.scss */
  .my-work .pagination {
    padding: 40px 0 0 0;
  }
  /* line 190, _mywork.scss */
  .my-work .project-box-one, .my-work .project-box-two, .my-work .project-box-three, .my-work .project-box-four {
    margin-bottom: 20px;
  }
}
/* line 3, _sideprojects.scss */
.side-projects [class*="project-box"] {
  text-decoration: none;
  background-color: #04b4dc;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
/* line 11, _sideprojects.scss */
.side-projects [class*="project-box"]:hover header h3 {
  opacity: 1;
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 18, _sideprojects.scss */
.side-projects .project-box-one {
  background-image: url("/images/lightning-sideproject.png");
}
/* line 22, _sideprojects.scss */
.side-projects .project-box-two {
  background-image: url("/images/pennybooks-sideproject.png");
}
/* line 26, _sideprojects.scss */
.side-projects .project-box-three {
  background-image: url("/images/twt-twt-sideproject.png");
}
/* line 30, _sideprojects.scss */
.side-projects header {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
}
/* line 35, _sideprojects.scss */
.side-projects header h3 {
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  margin-top: 10%;
  opacity: 0;
}

@media (max-width: 979px) {
  /* line 48, _sideprojects.scss */
  .side-projects .project-box-one, .side-projects .project-box-two, .side-projects .project-box-three, .side-projects .project-box-four {
    margin-bottom: 33px;
  }
  /* line 51, _sideprojects.scss */
  .side-projects .project-box-five, .side-projects .project-box-six {
    margin-bottom: 0;
  }
}
/* line 3, _aboutme.scss */
.aboutme section {
  display: inline-block;
  margin: 10px 0 0 0;
}
/* line 8, _aboutme.scss */
.aboutme .button-skills-aboutme.section {
  width: 48%;
  float: left;
  margin-bottom: 25px;
  line-height: 58px;
}
/* line 15, _aboutme.scss */
.aboutme .button-skills-aboutme.section:nth-of-type(even) {
  margin-left: 4%;
}
/* line 19, _aboutme.scss */
.aboutme [class*="per"] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 23, _aboutme.scss */
.aboutme [class*="per"] span {
  display: block;
  height: 100%;
  background: #04b4dc;
  padding-left: 20px;
  border-radius: 10px 0 0 10px;
}
/* line 37, _aboutme.scss */
.aboutme .per_10 span {
  width: 10%;
}
/* line 37, _aboutme.scss */
.aboutme .per_20 span {
  width: 20%;
}
/* line 37, _aboutme.scss */
.aboutme .per_30 span {
  width: 30%;
}
/* line 37, _aboutme.scss */
.aboutme .per_40 span {
  width: 40%;
}
/* line 37, _aboutme.scss */
.aboutme .per_50 span {
  width: 50%;
}
/* line 37, _aboutme.scss */
.aboutme .per_60 span {
  width: 60%;
}
/* line 37, _aboutme.scss */
.aboutme .per_70 span {
  width: 70%;
}
/* line 37, _aboutme.scss */
.aboutme .per_80 span {
  width: 80%;
}
/* line 37, _aboutme.scss */
.aboutme .per_90 span {
  width: 90%;
}
/* line 37, _aboutme.scss */
.aboutme .per_100 span {
  width: 100%;
}
/* line 42, _aboutme.scss */
.aboutme .per_100 span {
  border-radius: 10px;
}

@media (min-device-width: 768px) and (orientation: landscape) {
  /* line 52, _aboutme.scss */
  .aboutme [class*="per"] span {
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
    -webkit-animation: fadeIn ease-out 1;
    animation: fadeIn ease-out 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  /* line 67, _aboutme.scss */
  .aboutme [class*="per"]:last-of-type {
    -webkit-animation-name: shake;
    -webkit-animation-delay: 6s;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: shake;
    animation-delay: 6s;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
/* line 88, _aboutme.scss */
.ie9 .aboutme [class*="per"] span {
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  /* line 96, _aboutme.scss */
  from {
    opacity: 0;
    -webkit-transform: scaleX(0);
  }

  /* line 100, _aboutme.scss */
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
  }
}
@keyframes fadeIn {
  /* line 107, _aboutme.scss */
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  /* line 111, _aboutme.scss */
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
@-webkit-keyframes shake {
  /* line 118, _aboutme.scss */
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  /* line 121, _aboutme.scss */
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }

  /* line 124, _aboutme.scss */
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }

  /* line 127, _aboutme.scss */
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  /* line 130, _aboutme.scss */
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  /* line 133, _aboutme.scss */
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  /* line 136, _aboutme.scss */
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }

  /* line 139, _aboutme.scss */
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }

  /* line 142, _aboutme.scss */
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }

  /* line 145, _aboutme.scss */
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }

  /* line 148, _aboutme.scss */
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  /* line 154, _aboutme.scss */
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  /* line 157, _aboutme.scss */
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  /* line 160, _aboutme.scss */
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  /* line 163, _aboutme.scss */
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }

  /* line 166, _aboutme.scss */
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  /* line 169, _aboutme.scss */
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  /* line 172, _aboutme.scss */
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  /* line 175, _aboutme.scss */
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  /* line 178, _aboutme.scss */
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  /* line 181, _aboutme.scss */
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  /* line 184, _aboutme.scss */
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media (max-width: 979px) {
  /* line 194, _aboutme.scss */
  .aboutme section {
    display: block;
  }
  /* line 198, _aboutme.scss */
  .aboutme #left-large {
    width: auto;
    float: none;
    display: block;
    margin: 0 0 0 0;
  }
  /* line 205, _aboutme.scss */
  .aboutme #right-small {
    width: auto;
    float: none;
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 217, _aboutme.scss */
  .aboutme .button-skills-aboutme.section {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    line-height: 58px;
  }
  /* line 224, _aboutme.scss */
  .aboutme .button-skills-aboutme.section:nth-of-type(even) {
    margin-left: 0;
  }
}
/* line 3, _blog.scss */
.blog article {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 25px 0;
  padding: 0 0 25px 0;
}
/* line 8, _blog.scss */
.blog article ol {
  list-style-position: inside;
}
/* line 12, _blog.scss */
.blog article header {
  border: 1px solid #cccccc;
  background-clip: content-box;
  padding: 4px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 0 0 15px 0;
}
/* line 20, _blog.scss */
.blog article header:hover {
  border: 1px solid #999999;
}
/* line 25, _blog.scss */
.blog article p.date a {
  color: gray;
  text-decoration: none;
}
/* line 28, _blog.scss */
.blog article p.date a:hover {
  text-decoration: underline;
}
/* line 33, _blog.scss */
.blog article .image-container {
  border: 1px solid #cccccc;
  background-clip: content-box;
  padding: 4px;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
/* line 42, _blog.scss */
.blog article figure {
  margin-bottom: 20px;
  display: inline-block;
}
/* line 47, _blog.scss */
.blog article figcaption {
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}
/* line 52, _blog.scss */
.blog article .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
/* line 60, _blog.scss */
.blog article .video-container iframe,
.blog article .video-container object,
.blog article .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 70, _blog.scss */
.blog article pre {
  white-space: pre;
  overflow: auto;
}
/* line 75, _blog.scss */
.blog article blockquote {
  background: white;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/* line 82, _blog.scss */
.blog article blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
/* line 90, _blog.scss */
.blog article blockquote p {
  display: inline;
}
/* line 94, _blog.scss */
.blog article aside {
  width: 33%;
  margin: 0 0 0 2%;
  padding: 0 0 0 2%;
  float: right;
  border-left: 1px solid #cccccc;
}
/* line 102, _blog.scss */
.blog article aside:empty {
  display: none;
}
/* line 107, _blog.scss */
.blog .user-comments {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 25px 0;
  padding: 0 0 25px 0;
  display: inline-block;
  white-space: pre-line;
}
/* line 113, _blog.scss */
.blog .user-comments p:first-of-type {
  font-weight: 600;
}
/* line 121, _blog.scss */
.blog #right-small h4.content-title:nth-of-type(2) + ul li:not(:last-of-type) {
  margin-bottom: 0;
}
/* line 125, _blog.scss */
.blog #right-small a {
  color: gray;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
/* line 132, _blog.scss */
.blog #right-small h4.content-title + ul {
  margin-bottom: 25px;
  display: inline-block;
}

@media (max-width: 767px) {
  /* line 143, _blog.scss */
  .blog article {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
  }
  /* line 147, _blog.scss */
  .blog article header {
    margin: 0 0 10px 0;
  }
  /* line 154, _blog.scss */
  .blog #right-small h4.content-title + ul {
    margin-bottom: 20px;
  }
}
/* line 162, _blog.scss */
#more-posts {
  cursor: pointer;
}
/* line 166, _blog.scss */
#more-posts .down-arrow {
  width: 55px;
  height: 54px;
  display: inline-block;
  cursor: pointer;
  background-size: contain;
  background: url("/images/svg/down-arrow.svg") no-repeat center center;
}
/* line 173, _blog.scss */
#more-posts .down-arrow:hover {
  background: url("/images/svg/down-arrow-hover.svg") no-repeat center center;
}
/* line 178, _blog.scss */
#more-posts > div:first-of-type {
  float: right;
  width: 160px;
  text-align: right;
}
/* line 184, _blog.scss */
#more-posts > div:last-of-type {
  float: right;
}

/* line 192, _blog.scss */
#pagination {
  text-align: center;
}
/* line 196, _blog.scss */
#pagination .left-p {
  float: left;
  width: 55px;
  height: 54px;
  margin: 0 14px 14px 0;
}
/* line 203, _blog.scss */
#pagination .center-p {
  float: left;
  margin: 0 7px 0 0;
  width: -webkit-calc(100% - (55px * 2) - (14px * 2));
  width: calc(100% - (55px * 2) - (14px * 2));
}
/* line 209, _blog.scss */
#pagination .right-p {
  float: left;
  width: 55px;
  height: 54px;
}
/* line 215, _blog.scss */
#pagination [class*="pag"] {
  width: 55px;
  height: 54px;
  display: block;
  float: left;
  cursor: pointer;
  background-size: contain;
  margin: 0 14px 14px 0;
}
/* line 224, _blog.scss */
#pagination [class*="pag"]:last-of-type {
  margin: 0;
}
/* line 231, _blog.scss */
#pagination .left-p [class*="pag"] {
  background: url("/images/svg/left-arrow.svg") no-repeat center center;
}
/* line 233, _blog.scss */
#pagination .left-p [class*="pag"]:hover {
  background: url("/images/svg/left-arrow-hover.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag1 {
  background: url("/images/svg/solid1.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag1:hover {
  background: url("/images/svg/outline1.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag2 {
  background: url("/images/svg/solid2.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag2:hover {
  background: url("/images/svg/outline2.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag3 {
  background: url("/images/svg/solid3.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag3:hover {
  background: url("/images/svg/outline3.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag4 {
  background: url("/images/svg/solid4.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag4:hover {
  background: url("/images/svg/outline4.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag5 {
  background: url("/images/svg/solid5.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag5:hover {
  background: url("/images/svg/outline5.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag6 {
  background: url("/images/svg/solid6.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag6:hover {
  background: url("/images/svg/outline6.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag7 {
  background: url("/images/svg/solid7.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag7:hover {
  background: url("/images/svg/outline7.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag8 {
  background: url("/images/svg/solid8.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag8:hover {
  background: url("/images/svg/outline8.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag9 {
  background: url("/images/svg/solid9.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag9:hover {
  background: url("/images/svg/outline9.svg") no-repeat center center;
}
/* line 243, _blog.scss */
#pagination .pag10 {
  background: url("/images/svg/solid10.svg") no-repeat center center;
}
/* line 245, _blog.scss */
#pagination .pag10:hover {
  background: url("/images/svg/outline10.svg") no-repeat center center;
}
/* line 253, _blog.scss */
#pagination .right-p [class*="pag"] {
  background: url("/images/svg/right-arrow.svg") no-repeat center center;
}
/* line 255, _blog.scss */
#pagination .right-p [class*="pag"]:hover {
  background: url("/images/svg/right-arrow-hover.svg") no-repeat center center;
}

@media (max-width: 979px) {
  /* line 265, _blog.scss */
  .blog #left-large {
    width: auto;
    float: none;
    display: block;
    margin: 0 0 0 0;
  }
  /* line 272, _blog.scss */
  .blog #right-small {
    display: none;
  }
  /* line 278, _blog.scss */
  .blog.blog-single #left-large {
    width: 100%;
    margin: 0 0 20px 0;
    display: inline-block;
  }
  /* line 285, _blog.scss */
  .blog.blog-single #right-small {
    width: auto;
    float: none;
    display: block;
    margin: 0 0 0 0;
    clear: both;
  }
}
@media (max-width: 767px) {
  /* line 300, _blog.scss */
  .blog article aside {
    display: none;
  }
  /* line 306, _blog.scss */
  .blog.blog-single #right-small {
    display: none;
  }

  /* line 312, _blog.scss */
  #pagination {
    text-align: center;
  }
  /* line 316, _blog.scss */
  #pagination .left-p {
    float: left;
    width: 55px;
    height: 54px;
    margin: 0 14px 14px 0;
  }
  /* line 323, _blog.scss */
  #pagination .center-p {
    display: none;
  }
  /* line 327, _blog.scss */
  #pagination .right-p {
    float: right;
    width: 55px;
    height: 54px;
  }
}
@media (max-width: 979px) {
  /* line 5, _contact.scss */
  .contact #left-large {
    width: 100%;
    float: none;
    display: inline-block;
    margin: 0;
  }
  /* line 10, _contact.scss */
  .contact #left-large > div {
    width: 100%;
  }
  /* line 15, _contact.scss */
  .contact #right-small {
    display: none;
  }
}
/* line 1, _admin.scss */
.content-text .user-details ul {
  width: 33%;
}

/* line 4, _admin.scss */
.effeckt-wrap {
  background: white;
  padding: 2em;
  border: 1px solid #cccccc;
}
/* line 8, _admin.scss */
.effeckt-wrap:hover {
  border: 1px solid #04b3da;
  cursor: pointer;
}
/* line 13, _admin.scss */
.effeckt-wrap a {
  color: inherit;
  text-decoration: none;
}
/* line 18, _admin.scss */
.effeckt-wrap header, .effeckt-wrap section {
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.69444em;
  font-weight: 400;
  color: #666666;
}
/* line 22, _admin.scss */
.effeckt-wrap header:hover, .effeckt-wrap section:hover {
  olor: #04b3da;
}
/* line 26, _admin.scss */
.effeckt-wrap button {
  float: right;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  padding: 5px;
  display: inline-block;
}
/* line 35, _admin.scss */
.effeckt-wrap button:hover, .effeckt-wrap button:active {
  color: #e6e6e6;
}

/* line 42, _admin.scss */
.effeckt-modal {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 57, _admin.scss */
.effeckt-modal-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 320px;
  min-width: 320px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 73, _admin.scss */
.effeckt-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  background: rgba(0, 0, 0, 0.2);
}

/* line 86, _admin.scss */
.effeckt-show.effeckt-modal-wrap {
  visibility: visible;
}

/* line 90, _admin.scss */
.effeckt-show.effeckt-modal-wrap ~ .effeckt-modal-overlay {
  visibility: visible;
  opacity: 1;
}

/* line 95, _admin.scss */
.tada .effeckt-content {
  opacity: 0;
}

/* line 99, _admin.scss */
.effeckt-show.tada .effeckt-content {
  opacity: 1;
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes tada {
  /* line 106, _admin.scss */
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* line 111, _admin.scss */
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-1deg);
    transform: scale(0.9) rotate(-1deg);
  }

  /* line 116, _admin.scss */
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.05) rotate(1deg);
    transform: scale(1.05) rotate(1deg);
  }

  /* line 121, _admin.scss */
  40%, 60%, 80% {
    -webkit-transform: scale(1.05) rotate(-1deg);
    transform: scale(1.05) rotate(-1deg);
  }

  /* line 126, _admin.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
@keyframes tada {
  /* line 133, _admin.scss */
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  /* line 139, _admin.scss */
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-1deg);
    -ms-transform: scale(0.9) rotate(-1deg);
    transform: scale(0.9) rotate(-1deg);
  }

  /* line 145, _admin.scss */
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.05) rotate(1deg);
    -ms-transform: scale(1.05) rotate(1deg);
    transform: sscale(1.05) rotate(1deg);
  }

  /* line 151, _admin.scss */
  40%, 60%, 80% {
    -webkit-transform: scale(1.05) rotate(-1deg);
    -ms-transform: scale(1.05) rotate(-1deg);
    transform: scale(1.05) rotate(-1deg);
  }

  /* line 157, _admin.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
/* line 164, _admin.scss */
.admin-comments .comment-block {
  border-bottom: 1px solid #cccccc;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

/* line 1, _footer.scss */
#footer {
  clear: both;
}

/* line 5, _footer.scss */
#footer-top {
  height: 281px;
  padding: 25px 57px 0 57px;
  overflow: hidden;
  background: #f4f3f2;
  position: relative;
}
/* line 11, _footer.scss */
#footer-top a {
  text-decoration: none;
}
/* line 14, _footer.scss */
#footer-top:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 94px;
  width: 100%;
  pointer-events: none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjNmMiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGYzZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(244, 243, 242, 0) 0%, #f4f3f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 243, 242, 0)), color-stop(100%, #f4f3f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(244, 243, 242, 0) 0%, #f4f3f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(244, 243, 242, 0) 0%, #f4f3f2 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, rgba(244, 243, 242, 0) 0%, #f4f3f2 100%);
  /* W3C */
}
/* line 29, _footer.scss */
#footer-top:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f4f3f2;
  opacity: 0;
  pointer-events: none;
  -ms-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 41, _footer.scss */
#footer-top:hover:before {
  opacity: 0.5;
}

/* line 48, _footer.scss */
#footer-top.blogFooter:after, #footer-top.blogFooter:after {
  content: none;
}
/* line 51, _footer.scss */
#footer-top.blogFooter:before, #footer-top.blogFooter:before {
  content: none;
}

/* line 57, _footer.scss */
#recommended-article a {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 61.7130307467%;
}

@media (max-width: 1366px) {
  /* line 69, _footer.scss */
  #footer-top {
    padding: 30px 4.172767203513909% 0 4.172767203513909%;
  }
}
@media (max-width: 767px) {
  /* line 77, _footer.scss */
  #footer-top {
    padding: 20px 4.172767203513909% 0 4.172767203513909%;
  }
}
/* line 82, _footer.scss */
#footer-bottom {
  height: 94px;
  background: #27353d;
  text-align: center;
  position: relative;
  overflow: hidden;
}
/* line 88, _footer.scss */
#footer-bottom:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 45%;
  left: -webkit-calc(50% - 10px);
  left: calc(50% - 10px);
  width: 21px;
  height: 21px;
  background: #f4f3f2;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media print {
  /* line 2, _print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 9, _print.scss */
  #header, #footer, #banner, form, .video-container, aside {
    display: none !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 17, _print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 22, _print.scss */
  a[href]:after {
    content: " (" attr(href) ")" !important;
  }

  /* line 26, _print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")" !important;
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 35, _print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "" !important;
  }

  /* line 40, _print.scss */
  pre,
  blockquote,
  p {
    page-break-inside: avoid;
  }

  /* line 46, _print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 50, _print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 55, _print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 59, _print.scss */
  p a {
    word-wrap: break-word;
  }

  /* line 63, _print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 70, _print.scss */
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }
}
