@import "reset";
@import "variables";
@import "mixins";


html {
  //font: #{$baseFontSize} / #{$baseLineHeight} $baseFontFamily;
  font-size: #{$baseFontSize};
  font-family: $baseFontFamily;
  line-height: #{$baseLineHeight}em;
}





//@include breakpoint("standard") {
//
// // $baseFontSize: 56.3%;
//
//  html {
//    font: #{$baseFontSize} / #{$baseLineHeight} $baseFontFamily;
//  }
//
//}

@import "modules/media_queries";
@import "modules/scrollbars";
@import "modules/svg";
@import "modules/grid";
@import "modules/typography";
@import "modules/navigation";
@import "modules/buttons";
@import "modules/forms";
@import "modules/icons";
@import "header";
@import "homepage";
@import "banner";
@import "mywork";
@import "sideprojects";
@import "aboutme";
@import "blog";
@import "footer";