<div id="banner">

  <section>
    <h2 class="page-top-title">Admin section</h2>
  </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix content-text">

  <h3 class="contact-header"><a href="/#!/admin/add-blog">Add a blog article</a></h3>
  <h3 class="contact-header"><a href="/#!/admin/blog-details">Edit and delete a blog article</a></h3>
  <h3 class="contact-header"><a href="/#!/admin/user-details">Add, edit and delete users</a></h3>
  <h3 class="contact-header">Add, edit and delete blog comments</h3>

</div><!-- end main content -->