<div id="banner">

  <section>
    <h2 class="page-top-title">Add blog article</h2>
  </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix content-text" ng-init="AdminEditBlogCtrl.anotherFunction()">

  <div class="user-details">

    <h3 class="content-title" data-ng-init="AdminEditBlogCtrl.getBlogs();">Blog articles listed below</h3>

    <ul data-ng-repeat="blog in blogContent | orderBy: '-publishedDate' track by $index">
      <li data-ng-bind="blog.title"></li>
      <li data-ng-click="AdminEditBlogCtrl.editArticle(blog)"><a href="">Edit this article</a></li>
      <li data-ng-click="AdminEditBlogCtrl.deleteArticle(blog)"><a href="">Delete this article</a></li>
    </ul>

    <p data-ng-if="formSuccess" data-ng-bind="formSuccess" class="bold"></p>

    <form novalidate="novalidate" name="editBlogForm"
          data-ng-submit="AdminEditBlogCtrl.editBlog(editBlogForm.$valid)" data-ng-if="displayForm">

      <span class="title-block">
      <label for="title" class="visuallyhidden">Blog article title</label>
      <span data-ng-show="editBlogForm.title.$invalid && editBlogFormSubmit"
            class="error-message">Please provide a blog title.</span>
      <input type="text" id="title" name="title" value="" placeholder="Title" required="required" class="input"
             data-ng-required="true" data-ng-model="editBlogFormData.title"/>
      </span>

      <span class="author-block">
      <label for="author" class="visuallyhidden">Blog article author</label>
      <span data-ng-show="editBlogForm.author.$invalid && editBlogFormSubmit"
            class="error-message">Please provide the blog article author.</span>
      <input type="text" id="author" name="author" value="" placeholder="Author" required="required"
             class="input" data-ng-required="true" data-ng-model="editBlogFormData.author"/>
      </span>

      <span class="category-block">
      <label for="category" class="visuallyhidden">Blog category</label>
      <span data-ng-show="editBlogForm.category.$invalid && editBlogFormSubmit"
            class="error-message">Please provide a blog category.</span>
      <input type="text" id="category" name="category" value="" placeholder="Category" required="required"
             class="input" data-ng-required="true" data-ng-model="editBlogFormData.category"/>
      </span>

            <span class="content-block">
            <label for="content" class="visuallyhidden">Content</label>
            <span data-ng-show="editBlogForm.content.$invalid && editBlogFormSubmit" class="error-message">Don't forget to add the content!</span>
            <textarea id="content" cols="10" rows="40" name="content" placeholder="Content" required="required"
                      class="textarea" data-ng-required="true" data-ng-model="editBlogFormData.content"></textarea>
            </span>

            <span class="displayImage-block">
      <label for="displayImage" class="visuallyhidden">"Display image URL. Optional. The image must be 898px x
        345px"</label>
      <input type="url" id="displayImage" name="displayImage" value=""
             placeholder="Display image URL. Optional. The image must be 898px x 345px"
             class="input" data-ng-model="editBlogFormData.displayImage"/>
      </span>

      <span class="clearfix comment-block">
      <input id="allowComments" type="checkbox" class="checkbox" name="allowComments" data-ng-model="editBlogFormData.commentsOpen" />
      <label for="allowComments" class="form-label">Open comments on this blog article</label>
      </span>

      <input type="hidden" value="" data-ng-model="editBlogFormData._id"/>
      <input type="hidden" value="" data-ng-model="editBlogFormData.uniqueId"/>
      <input type="hidden" value="" data-ng-model="editBlogFormData.publishedDate"/>

      <input type="submit" value="submit" class="button-contact"/>

    </form>

  </div>
  <!-- end comments -->

  <div data-ng-if="displayPopup" class="effeckt-wrap effeckt-modal-wrap tada effeckt-show" id="effeckt-modal-wrap">
    <!-- for centering transform -->
    <div class="effeckt-content effeckt-modal" id="effeckt-modal">
      <header data-ng-click=""><a href="">Are you sure?</a></header>
      <div class="effeckt-modal-content">
        <section data-ng-click=""><a href="" data-ng-click="AdminEditBlogCtrl.removeArticle()">Click here to delete
          article.</a></section>
        <button data-ng-click="AdminEditBlogCtrl.hidePopup()" class="effeckt-modal-close">Close me!</button>
      </div>
    </div>
  </div>
  <div data-ng-if="displayPopup" data-ng-click="AdminBlogDetailsCtrl.hidePopup()"
       class="effeckt-overlay effeckt-modal-overlay" id="effeckt-modal-overlay"></div>

</div><!-- end main content -->