<div id="banner">

  <section>
    <h2 class="page-top-title">Blog comments</h2>
  </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix content-text">

  <div class="comment-details">

    <h3 class="content-title">Blog comments</h3>

    <div data-ng-init="AdminCommentAdminCtrl.getComments()"></div>

    <div data-ng-repeat="comment in comments | orderBy: '-publishedDate' track by $index">

      {{ comment }}
    </div>



  </div>
  <!-- end comment details -->


</div><!-- end main content -->