<div id="banner">

  <section>
    <h2 class="page-top-title">Login</h2>
  </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix content-text">

  <div class="login">

    <h5 class="content-title">Admin login</h5>

    <form novalidate="novalidate" name="loginForm"
          data-ng-submit="AdminLogin.submitLoginForm(loginForm.$valid)">

      <span class="name-block">
      <label for="name" class="visuallyhidden">Your full name</label>
      <span data-ng-show="loginForm.name.$invalid && submitted" class="error-message">Please supply your username.</span>
      <input type="text" id="name" name="name" value="" placeholder="Username" required="required" class="input"
             data-ng-required="true" data-ng-model="login.name"/>
      </span>

      <span class="password-block">
      <label for="password" class="visuallyhidden">Your email address</label>
      <span data-ng-show="loginForm.password.$invalid && submitted" class="error-message">Please supply a valid password.</span>
      <input type="password" id="password" name="password" value="" placeholder="Password" required="required"
             class="input" data-ng-required="true" data-ng-model="login.password"/>
        </span>

            <span class="hide">
            <label for="zipcode" class="visuallyhidden">Your zipcode</label>
            <input type="text" id="zipcode" name="zipcode" value="" data-ng-pattern="zipRegex"
                   data-ng-model="login.zipcode"/>
            </span>

      <input type="submit" value="submit" class="button-contact"/>

    </form>


  </div>
  <!-- end comments -->


</div><!-- end main content -->