// placeholder font color
::-webkit-input-placeholder {
  color: $textThree;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $textThree;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $textThree;
}

:-ms-input-placeholder {
  color: $textThree;
}

.contact, .comments {

  .input {
    width: 543px;
    height: 66px;
    padding: 10px;
    border: $border;
    @include font-calculator($baseFontFamily, 30px);
    color: $textTwo;
    font-weight: 400;
    &:focus {
      border: $textTwo;
    }
  }

  .textarea {
    width: 822px;
    height: 271px;
    padding: 10px;
    border: $border;
    @include font-calculator($baseFontFamily, 30px);
    color: $textTwo;
    font-weight: 400;
    &:focus {
      border: $textTwo;
    }
  }

}