#container {
  width: 1366px;
  margin: 10px auto;
}

#left-large {
  width: 870px;
  float: left;
  display: inline;
}

#left-small {
  width: 382px;
  float: left;
  display: inline;
}

#right-large {
  width: 870px;
  float: left;
  display: inline;
}

#right-small {
  width: 382px;
  float: left;
  display: inline;
}

#main-content {
  padding: 57px;
}

/* My work */

[class*="my-work-box"] {
  @include calc('width', '(100% / 3) - 33px');
  padding-bottom: 20%;
  background: black;
  float: left;
  border: 1px solid $boxBorder;
  margin-right: 33px;
}

[class*="my-work-box"]:nth-of-type(3n) {
  @include calc('width', '100% / 3');
  background: blue;
  margin-right: 0
}

.my-work-box-one, .my-work-box-two, .my-work-box-three {
  margin-bottom: 33px;
}

@include breakpoint(wide) {

  #container {
    width: 99%;
  }

  #left-large {
    width: 63.689604685212295%;
    margin: 0 4.172767203513909% 0 0;
  }

  #left-small {
    width: 27.96486090775988%;
  }

  #right-large {
    width: 63.689604685212295%;
    margin: 0 4.172767203513909% 0 0;
  }

  #right-small {
    width: 27.96486090775988%;
  }

  #main-content {
    padding: 57px 4.172767203513909%;
  }

}