#container {
  width: 1366px;
  margin: 10px auto;
}

#left-large {
  width: 822px;
  float: left;
  display: inline;
  margin: 0 32px 0 0;
}

#left-small {
  width: 398px;
  float: left;
  display: inline;
  margin: 0 32px 0 0;
}

#right-large {
  width: 822px;
  float: left;
  display: inline;
}

#right-small {
  width: 398px;
  float: left;
  display: inline;
}

#main-content {
  padding: 57px;
}

/* My work */

[class*="project-box"] {
  // three boxes per row on the desktop
  @include calc('width', '(100% / 3) - (66px / 3)');
  height: 285px;
  float: left;
  border: 1px solid $boxBorder;
  margin-right: 33px;
  background-clip: content-box;
  padding: 4px;
  position: relative;
  cursor: pointer;
  @include transitions(all 0.5s);

  &:nth-of-type(3n) {
    margin-right: 0;
    background-clip: content-box;
  }

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    @include calc('width', '100% - 8px');
    @include calc('height', '100% - 8px');
    display: block;
    background: $workBoxes;
    opacity: 0;
    @include transitions(opacity 0.5s);
  }

  &::after {
    content: '';
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: $moreWork;
    width: 55px;
    height: 56px;
    display: block;
    opacity: 0;
    @include transitions(opacity 0.5s);
  }

  &:hover::before {
    opacity: 0.7;
  }

  &:hover::after {
    opacity: 1;
  }
}


@media screen and (min--moz-device-pixel-ratio:0) {
  /* temp Firefox hack until I can work out a solution */
  [class*="project-box"] {
    @include calc('width', '(100% / 3) - (66px / 2)');
  }
}

@include breakpoint(wide) {

  #container {
    width: 99%;
  }

  #left-large {
    width: 60.17569546120058%;
    margin: 0 2.342606149341142% 0 0;
  }

  #left-small {
    width: 29.136163982430453%;
    margin: 0 2.342606149341142% 0 0;
  }

  #right-large {
    width: 60.17569546120058%;
  }

  #right-small {
    width: 29.136163982430453%;
  }

  #main-content {
    padding: 57px 4.172767203513909%;
  }

  [class*="project-box"] {
    height: 230px;
  }

}

@include breakpoint("tablet") {

  [class*="project-box"] {
    height: 285px;
    // only two boxes per row
    @include calc('width', '(100% / 2) - (33px / 2)');
    //override desktop defaults
    &:nth-of-type(3n) {
      margin-right: 33px;
    }
    // tablet margin
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@include breakpoint(mobile) {
  [class*="project-box"] {
    height: 285px;
    // only two boxes per row
    width: 100%;
    //override desktop defaults
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    // tablet margin
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

}