// some extra styling

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-button:vertical {
  color: white;
  background: white;
}

::-webkit-scrollbar-thumb:vertical {
  background: $bannerBackround;
  border-radius: 50px;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb:vertical:hover {
  -webkit-box-shadow: inset 5px 5px 6px $bannerBackround;
  background: white;
}

::-webkit-scrollbar-thumb:horizontal {
  background: $bannerBackround;
  border-radius: 50px;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  border: 1px solid $bannerBackround;
}