$leftArrow: url('/images/svg/left-arrow.svg') no-repeat center center;
$leftArrowHover: url('/images/svg/left-arrow-hover.svg') no-repeat center center;
$rightArrow: url('/images/svg/right-arrow.svg') no-repeat center center;
$rightArrowHover: url('/images/svg/right-arrow-hover.svg') no-repeat center center;
$moreWork: url('/images/svg/more-work.svg') no-repeat center center;
$twitter: url('/images/svg/twitter.svg') no-repeat center center;
$index: url('/images/svg/index.svg') no-repeat center center;
$indexHover: url('/images/svg/index-hover.svg') no-repeat center center;
$menu: url('/images/svg/menu.svg') no-repeat center center;
$menuHover: url('/images/svg/menu-hover.svg') no-repeat center center;
$loadingSpinner: url('/images/svg/loading-spin.svg') no-repeat center center;
