//Light 300
//Light 300 Italic
//Normal 400
//Normal 400 Italic
//Semi-Bold 600
//Semi-Bold 600 Italic
//Bold 700
//Bold 700 Italic
//Extra-Bold 800
//Extra-Bold 800 Italic
h1.logo {
  @include font-calculator($secondaryFontFamily, 35px, 0);
  line-height: $headerHeight;
  color: white;
  -webkit-font-smoothing:antialiased;
}

.navigation li {
  @include font-calculator($baseFontFamily, 15px, 0);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-font-smoothing:antialiased;
}

h2.page-top-title {
  @include font-calculator($baseFontFamily, 40px, 0.5);
  font-weight: 300;
  color: white;
  line-height: 40px;
}

p.page-top-text {
  @include font-calculator($baseFontFamily, 18px);
  font-weight: 300;
  color: white;
}

.front-page-bottom-header {
  @include font-calculator($baseFontFamily, 80px, 1.5);
  font-weight: 300;
  color: white;
}

.front-page-bottom-text {
  @include font-calculator($baseFontFamily, 13px, 0);
  font-weight: 600;
  color: white;
}

.content-title {
  @include font-calculator($baseFontFamily, 30px, 1.5);
  font-weight: 300;
  color: $textThree;
}

@include breakpoint("wide") {

  .content-title {
    line-height: 40px;
  }
}

h3.blog-title {
  @include font-calculator($baseFontFamily, 40px, 1.5);
  font-weight: 300;
  line-height: 40px;
  color: $textTwo;
}

.blog article h4 {
  @include font-calculator($baseFontFamily, 26px);
  font-weight: 600;
  color: $textTwo;
}

/* little mixin for standard blog css attributes and values */
@mixin contentText($tag) {
  .content-text #{$tag} {
    @include font-calculator($baseFontFamily, 16px);
    color: $textTwo;
    @content;
  }
}

@include contentText('li') {
  font-weight: 400;
  list-style: none;
}

@include contentText('p') {
  font-weight: 400;
}

@include contentText('p.date') {
  font-weight: 400;
  font-style: italic;
}

@include contentText('p.read-more') {
  font-weight: 700;
}

p.minor-title {
  @include font-calculator($baseFontFamily, 16px, 0);
  color: $textTwo;
  font-weight: 700;
  margin-bottom: 0;
}

.blog #blog-content a:hover:after {
  content: "(Link: " attr(href) ")";
  color: #1d7a94;
  background: #fff;
  margin: 0 5px;
  text-decoration: underline;
}

.content-text {

  a.underline {
    text-decoration: none;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, .3) 11%, rgba(0, 0, 0, .3) 16%, rgba(0, 0, 0, 0) 16%);
    position: relative;
    white-space: normal;

    // displays pop up of link attribute if it is pointing to an external site
    &[rel="external"]::after {
      content: " " attr(href) " ";
      position: absolute;
      left: 20%;
      bottom: 100%;
      color: white;
      background: $textTwo;
      padding: 1px 5px;
      opacity: 0;
      @include transitions(opacity 0.5s);
      white-space: nowrap;
    }
    &[rel="external"]:hover::after {
      opacity: 1;
    }

    &:link {
      color: $textTwo;
    }
    &:visited {
      color: lighten($textTwo, 10%);
    }
    &:focus {
      color: $textTwo;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, .1) 11%, rgba(0, 0, 0, .1) 16%, rgba(0, 0, 0, 0) 16%);
    }
    &:hover {
      color: $textTwo;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, .1) 11%, rgba(0, 0, 0, .1) 16%, rgba(0, 0, 0, 0) 16%);

    }
    &:active {
      color: $textTwo;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, .1) 11%, rgba(0, 0, 0, .1) 16%, rgba(0, 0, 0, 0) 16%);
    }
  }
}

h4.blog-sidebar-header {
  @include font-calculator($baseFontFamily, 30px);
  font-weight: 300;
  color: $textTwo;
}

.blog-sidebar-text p, ul.blog-sidebar-text {
  @include font-calculator($baseFontFamily, 16px);
  font-weight: 600;
  color: $textTwo;
}

h3.contact-header {
  @include font-calculator($baseFontFamily, 30px);
  font-weight: 300;
  color: $textTwo;
}

h3.project-header {
  @include font-calculator($baseFontFamily, 30px, 0);
  font-weight: 400;
  color: white;
}

.footer-top-text p, ul.footer-top-text {
  @include font-calculator($baseFontFamily, 20px);
  font-weight: 300;
  font-style: italic;
  color: $textTwo;
}

.code-preview {
  font-size: 12px;
  color: $textTwo;
  line-height: 16px;
}

p.footer-copyright {
  @include font-calculator($baseFontFamily, 13px, 0);
  line-height: $bottomFooterHeight;
  color: white;
  text-transform: capitalize;
}