<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9" lang="en" data-ng-app="portfolioApp"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" data-ng-app="portfolioApp"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title data-ng-bind="pageTitle"></title>

  <meta name="viewport" content="width=device-width">
  <meta name="fragment" content="!">
  <base href="/">

  <script src="libs/webfontMatchMedia.js?__inline=true"></script>

  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <meta name="prerender-status-code" content="{{status}}"/>

  <meta data-ng-if="hideFooter" property="og:site_name" content="blog unblock - blog of web developer. Andy Walpole/">
  <meta data-ng-if="hideFooter" property="og:title" content="{{faceBookTitle}}"/>
  <meta data-ng-if="hideFooter" property="og:url" content="{{canonical}}"/>
  <meta data-ng-if="hideFooter" property="og:description" content="{{faceBookDescription}}"/>
  <meta data-ng-if="hideFooter" name="description" content="{{faceBookDescription}}">

  <link rel="canonical" href="{{canonical}}"/>

  <link data-ng-if="prerender" rel="prerender" data-ng-href="{{prerender}}">

  <script data-ng-if="hideFooter" async src="//codepen.io/assets/embed/ei.js"></script>

  <link rel="alternate" type="application/rss+xml" title="blog unblock - the Blog of Web Developer Andy Walpole"
        href="https://andywalpole.me/rss.xml"/>

  <meta name="msvalidate.01" content="A3327273DCF9CE62812809732D9A73A1"/>
  <meta name="google-site-verification" content="EXyskgWvwTgxI78g2kK5NqdjMZyIA1p4e5dm-nuK20c"/>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-1173435-13', {'cookieDomain': 'andywalpole.me', 'siteSpeedSampleRate': 100});
  </script>

</head>
<body>

<a href="#content" class="visuallyhidden">Skip to main content</a>

<div id="container">

  <div id="header">

    <div id="logo-wrapper">
      <h1 class="logo"><a href="/#!/">Andy Walpole</a></h1>
    </div>
    <!-- end logo -->

    <label for="toggle-1" class="handheld-cross hidden-desktop" data-ng-class="{active: !pageChange}">Main Menu</label>
    <!-- toogle checked box on page load or click of menu item -->
    <input type="checkbox" id="toggle-1" data-ng-checked="!pageChange" data-ng-click="pageChange = false">

    <div id="navigation-wrapper">

      <ul class="navigation">
        <li>
          <a href="/#!/work-projects" data-link="work-projects">Work Projects</a>
        </li>
        <li>
          <a href="/#!/side-projects" data-link="side-projects">Side Projects</a>
        </li>
        <li>
          <a href="/#!/about-me" data-link="about-me">About Me</a>
        </li>
        <li>
          <a href="/#!/contact-me" data-link="contant-me">Contact Me</a>
        </li>
        <li>
          <a href="/#!/blog/" data-link="blog/">Blog</a>
        </li>
      </ul>

    </div>
    <!-- end navigation -->

  </div>
  <!-- end header -->

  <!--[if lte IE 8]>
  <div style="text-align:center">
    <img src="images/blog-stock-images/internet_explorer.png"
         alt="message for internet explorer users informing them that this website does not work in their browser"/>
  </div>
  <![endif]-->

  <div id="outer-content">
  <div id="content" data-ng-view></div>
  </div>

  <div data-ng-include src="'views/footer.html'"></div>

</div>

<!-- end container -->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="components/underscore/underscore.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/angular-resource/angular-resource.js"></script>
<script src="components/angular-sanitize/angular-sanitize.js"></script>
<script src="components/angular-route/angular-route.js"></script>
<script src="components/angular-cache/dist/angular-cache.min.js"></script>
<script src="components/moment/moment.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/config/constants.js"></script>
<script src="scripts/app.js"></script>
<!-- library -->
<script src="libs/prism.js"></script>
<script src="scripts/config/config.js"></script>
<!-- filters -->
<script src="scripts/filters/word_count_filter.js"></script>
<!-- services -->
<script src="scripts/services/blog_data_service.js"></script>
<script src="scripts/services/post_form_service.js"></script>
<script src="scripts/services/mongo_user_service.js"></script>
<script src="scripts/services/mongo_blog_service.js"></script>
<script src="scripts/services/mongo_comment_service.js"></script>
<script src="scripts/services/newsblur_service.js"></script>
<!-- controllers -->
<script src="scripts/controllers/form_controller.js"></script>
<script src="scripts/controllers/blog_controller.js"></script>
<script src="scripts/controllers/blog_article_controller.js"></script>
<script src="scripts/controllers/work_page_controller.js"></script>
<script src="scripts/controllers/projects_page_controller.js"></script>
<script src="scripts/controllers/login_controller.js"></script>
<script src="scripts/controllers/user_details_controller.js"></script>
<script src="scripts/controllers/add_blog_controller.js"></script>
<script src="scripts/controllers/edit_blog_controller.js"></script>
<script src="scripts/controllers/sidebar_controller.js"></script>
<script src="scripts/controllers/comment_controller.js"></script>
<script src="scripts/controllers/comment_admin_controller.js"></script>
<script src="scripts/controllers/sitemap_controller.js"></script>
<script src="scripts/controllers/footer_controller.js"></script>
<script src="scripts/controllers/blog_category_controller.js"></script>
<!-- directives -->
<script src="scripts/directives/slider_directive.js"></script>
<script src="scripts/directives/blog_directive.js"></script>
<script src="scripts/directives/homepage_stats_directive.js"></script>
<script src="scripts/directives/comment_directive.js"></script>
<script src="scripts/directives/compile_directive.js"></script>
<script src="scripts/directives/prism_directive.js"></script>
<!-- endbuild -->
<!--[if !IE]><!-->
<script>
  // terrible IE10 hack
  if (/*@cc_on!@*/false) {
    document.documentElement.className += ' ie10';
  }
</script>
<!--<![endif]-->

</body>
</html>
