<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9" lang="en" data-ng-app="portfolioApp" ng-csp> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" data-ng-app="portfolioApp" ng-csp> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title data-ng-bind="pageTitle"></title>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="fragment" content="!">
  <base href="/">

  <script src="libs/webfontMatchMedia.js?__inline=true"></script>

  <!-- build:css({.tmp,app}) styles/main-postcss.css -->
  <link rel="stylesheet" href="styles/main-postcss.css">
  <!-- endbuild -->

  <meta name="prerender-status-code" content="{{status}}"/>

  <meta data-ng-if="hideFooter" property="og:site_name" content="blog unblock - blog of web developer. Andy Walpole">
  <meta data-ng-if="hideFooter" property="og:title" content="{{faceBookTitle}}"/>
  <meta data-ng-if="hideFooter" property="og:url" content="{{canonical}}"/>
  <meta data-ng-if="hideFooter" property="og:description" content="{{faceBookDescription}}"/>
  <meta data-ng-if="hideFooter" name="description" content="{{faceBookDescription}}">

  <link rel="canonical" href="{{canonical}}"/>

  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//codepen.io">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//fonts.gstatic.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//youtube.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//youtube-nocookie.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//s.ytimg.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//ssl.gstatic.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//i.ytimg.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//platform.twitter.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//storify.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//disclose.tv">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//player.vimeo.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//syndication.twitter.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//f.vimeocdn.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//pbs.twimg.com">
  <link data-ng-if="hideFooter" rel="dns-prefetch" href="//platform.vine.co">

  <link rel="alternate" type="application/rss+xml" title="blog unblock - the Blog of Web Developer Andy Walpole"
        href="https://andywalpole.me/rss.xml"/>


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-1173435-13",{cookieDomain:"andywalpole.me",siteSpeedSampleRate:100})
  </script>

</head>
<body>

<a href="#content" class="visuallyhidden">Skip to main content</a>

<div id="container">

  <div id="header">

    <div id="logo-wrapper">
      <h1 class="logo"><a href="/#!/">Andy Walpole</a></h1>
    </div>
    <!-- end logo -->

    <label for="toggle-1" class="handheld-cross hidden-desktop" data-ng-class="{active: !pageChange}">Main Menu</label>
    <!-- toogle checked box on page load or click of menu item -->
    <input type="checkbox" id="toggle-1" class="hidden-desktop" data-ng-checked="!pageChange" data-ng-click="pageChange = false">

    <div id="navigation-wrapper">

      <ul class="navigation">
        <li>
          <a href="/#!/work-projects" data-link="work-projects">Work Projects</a>
        </li>
        <li>
          <a href="/#!/side-projects" data-link="side-projects">Side Projects</a>
        </li>
        <li>
          <a href="/#!/about-me" data-link="about-me">About Me</a>
        </li>
        <li>
          <a href="/#!/contact-me" data-link="contant-me">Contact Me</a>
        </li>
        <li>
          <a href="/#!/blog/" data-link="blog/">Blog</a>
        </li>
      </ul>

    </div>
    <!-- end navigation -->

  </div>
  <!-- end header -->

  <!--[if lte IE 8]>
  <div style="text-align:center">
    <img src="images/blog-stock-images/internet_explorer.png"
         alt="message for internet explorer users informing them that this website does not work in their browser"/>
  </div>
  <![endif]-->

  <div id="outer-content">
  <div id="content" data-ng-view></div>
  </div>

  <div data-ng-include src="'footer/footer.html'"></div>

</div>

<!-- end container -->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="components/angular/angular.js"></script>
<script src="components/angular-resource/angular-resource.js"></script>
<script src="components/angular-sanitize/angular-sanitize.js"></script>
<script src="components/angular-route/angular-route.js"></script>
<script src="components/angular-cache/dist/angular-cache.min.js"></script>
<script src="components/angular-aria/angular-aria.js"></script>
<script src="components/underscore/underscore.js"></script>
<script src="components/moment/moment.js"></script>
<script src="components/react/react.js"></script>
<script src="components/ngReact/ngReact.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="config/constants.js"></script>
<script src="shared/underscore_factory.js"></script>
<script src="shared/moment_factory.js"></script>
<script src="shared/requestTimeout_factory.js"></script>
<script src="shared/clearRequestTimeout_factory.js"></script>
<script src="shared/requestInterval_factory.js"></script>
<script src="shared/clearRequestInterval_factory.js"></script>
<script src="shared/helperFunctionService.js"></script>
<script src="shared/sessionStorageDetect_factory.js"></script>
<script src="app.js"></script>
<!-- library -->
<script src="libs/prism.js"></script>
<script src="config/config.js"></script>
<script src="react/react-blog.js"></script>
<!-- filters -->
<script src="blog-pages/word_count_filter.js"></script>
<!-- services -->
<script src="blog-pages/blog_data_factory.js"></script>
<script src="contact/post_form_factory.js"></script>
<script src="blog-admin/mongo_user_factory.js"></script>
<script src="blog-admin/mongo_blog_factory.js"></script>
<script src="blog-comments/mongo_comment_factory.js"></script>
<script src="footer/newsblur_factory.js"></script>
<!-- controllers -->
<script src="contact/form_controller.js"></script>
<script src="blog-pages/blog_controller.js"></script>
<script src="blog-pages/blog_article_controller.js"></script>
<script src="work-projects/work_page_controller.js"></script>
<script src="side-projects/projects_page_controller.js"></script>
<script src="blog-admin/login_controller.js"></script>
<script src="blog-admin/user_details_controller.js"></script>
<script src="blog-admin/add_blog_controller.js"></script>
<script src="blog-admin/edit_blog_controller.js"></script>
<script src="blog-sidebar/sidebar_controller.js"></script>
<script src="blog-comments/comment_controller.js"></script>
<script src="blog-admin/comment_admin_controller.js"></script>
<script src="sitemap/sitemap_controller.js"></script>
<script src="footer/footer_controller.js"></script>
<script src="blog-pages/blog_category_controller.js"></script>
<!-- directives -->
<script src="homepage/slider_directive.js"></script>
<script src="homepage/homepage_stats_directive.js"></script>
<script src="blog-comments/comment_directive.js"></script>
<script src="blog-pages/compile_directive.js"></script>
<script src="blog-pages/prism_directive.js"></script>
<script src="blog-pages/codepen_directive.js"></script>
<script src="blog-pages/twitter_directive.js"></script>
<script src="blog-pages/vine_directive.js"></script>
<script src="shared/loader_directive.js"></script>
<script src="react/blog_react_directive.js"></script>
<script src="react/blog_sidebar_react_directive.js"></script>
<script src="blog-pages/blog_directive.js"></script>
<!-- endbuild -->
<!--[if !IE]><!-->
<script>
  // terrible IE10 hack
  if (/*@cc_on!@*/false) {
    document.documentElement.className += ' ie10';
  }
</script>
<!--<![endif]-->
<div class="hide">
<a href="http://www.jonathanmurray.com/bulk.php?entry_id=47624"><!-- rolypoly-slice --></a>
</div>
<data-loader-directive ng-if="loader"></data-loader-directive>
</body>
</html>
