.form {

  &__input {
    width: 70%;
    height: 66px;
    padding: 10px;
    border: 1px solid $border;
    @include font-calculator($baseFontFamily, 16px, 0);
    color: $textTwo;
    font-weight: 400;
    clear: both;
    float: left;
    margin: 0 0 15px 0;

    &:focus {
      border: 1px solid $textTwo;
    }
  }

  &__textarea {
    width: 100%;
    height: 271px;
    padding: 10px;
    border: 1px solid $border;
    @include font-calculator($baseFontFamily, 16px, 0);
    color: $textTwo;
    font-weight: 400;
    clear: both;
    float: left;
    margin: 0 0 15px 0;

    &:focus {
      border: 1px solid $textTwo;
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid $border;
    margin: 0 10px 15px 0;
    float: left;
  }

  &__division-blocks {
    position: relative;
    display: block;
    clear: both;
  }

  &__error-message {
    @include font-calculator($baseFontFamily, 16px, 0);
    height: 30px;
    line-height: 30px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: -30px;
    color: white;
    background: $textTwo;
    padding: 0 5px;
  }

}

@include breakpoint('mobile') {

  .form {

    &__input {
      width: 100%;
      margin-bottom: 10px;
    }

    &__textarea {
      margin-bottom: 10px;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  input[type='text']:focus,
  input[type='url']:focus,
  input[type='email']:focus,
  textarea:focus {
    font-size: 16px;
  }

}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: $media_breakpoint_tablet) {

  input[type='text']:focus,
  input[type='url']:focus,
  input[type='email']:focus,
  textarea:focus {
    font-size: 15px;
  }

}

@media screen and (min--moz-device-pixel-ratio: 0) {

  // another firefox bug :(
  // come back to this

  .form {

    &__input {
      width: calc(70% - 20px);
      height: 56px;
    }

    &__textarea {
      width: calc(100% - 20px);
      height: 261px;
    }
  }
}