<div id="banner">

  <section>
    <h2 class="page-top-title">User details</h2>
  </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix content-text">

  <div class="user-details">

    <h3 class="content-title">User details</h3>

    <p>Current users</p>

    <ul data-ng-repeat="user in allUsers track by $index">
      <li><b>Name:</b> <span ng-bind="user.name"></span></li>
      <li data-ng-click="AdminUserDetailsCtrl.editUserFun(user)"><a href="">Edit the details of this user</a></li>
      <li data-ng-click="AdminUserDetailsCtrl.deleteUser(user)"><a href="">Delete this user</a></li>
    </ul>

    <p data-ng-if="formSuccess" data-ng-bind="formSuccess" class="bold"></p>

    <p class="clearfix" ng-if="editThisUser">Edit the user details of {{editUser.name}}</p>

    <form novalidate="novalidate" name="editUserForm"
          data-ng-submit="AdminUserDetailsCtrl.submitEditUserForm(editUserForm.$valid)" ng-if="editThisUser">

      <span class="name-block">
      <label for="name" class="visuallyhidden">Please supply your username</label>
      <span data-ng-show="editUserForm.name.$invalid && editUserSubmit.submitted"
            class="error-message">Please supply your username.</span>
      <input type="text" id="name" name="name" value="" placeholder="Username" required="required" class="input"
             data-ng-required="true" data-ng-model="editUser.name"/>
      </span>

      <span class="text-block">
      <label for="text" class="visuallyhidden">Please supply a valid password</label>
      <span data-ng-show="editUserForm.text.$invalid && editUserSubmit.submitted"
            class="error-message">Please supply a valid password.</span>
      <input type="text" id="text" name="text" value="" placeholder="Password" required="required"
             class="input" data-ng-required="true" data-ng-model="editUser.password"/>
      </span>

      <input type="hidden" data-ng-model="editUser._id.$oid" value=""/>

      <input type="submit" value="submit" class="button-contact"/>

    </form>

    <p class="clearfix" ng-if="!editThisUser">Add a new user here</p>

    <form novalidate="novalidate" name="addUserForm"
          data-ng-submit="AdminUserDetailsCtrl.submitAddUserForm(addUserForm.$valid)" ng-if="!editThisUser">

      <span class="name-block">
      <label for="name" class="visuallyhidden">Please supply your username</label>
      <span data-ng-show="addUserForm.name.$invalid && addUserSubmit.submitted"
            class="error-message">Please supply your username.</span>
      <input type="text" id="name" name="name" value="" placeholder="Username" required="required" class="input"
             data-ng-required="true" data-ng-model="addUser.name"/>
      </span>

      <span class="text-block">
      <label for="text" class="visuallyhidden">Please supply a valid password</label>
      <span data-ng-show="addUserForm.text.$invalid && addUserSubmit.submitted"
            class="error-message">Please supply a valid password.</span>
      <input type="text" id="text" name="text" value="" placeholder="Password" required="required"
             class="input" data-ng-required="true" data-ng-model="addUser.password"/>
      </span>


      <input type="submit" value="submit" class="button-contact"/>

    </form>


  </div>
  <!-- end comments -->


</div><!-- end main content -->