<div id="footer">

  <div id="footer-top" data-ng-class="{'blogFooter':hideFooter}">
    <div data-ng-if="!hideFooter">
      <a href="https://github.com/TCotton/portfolio" target="_blank">

    <pre class="code-preview">
/**
 * This entire site is coded in AngularJS. Inspect the code on GitHub: https://github.com/TCotton/portfolio
 */

angular.module('portfolioApp', [ 'portfolioApp.blogAdminService', 'portfolioApp.blogAdminController', 'portfolioApp.blogCommentsDirective', 'portfolioApp.blogCommentsService', 'portfolioApp.blogPagesController', 'portfolioApp.blogPagesDirective', 'portfolioApp.blogPagesService', 'portfolioApp.blogPagesFilter', 'portfolioApp.blogSidebarController', 'portfolioApp.contractController', 'portfolioApp.contractService', 'portfolioApp.footerController', 'portfolioApp.footerService', 'portfolioApp.homepageDirective', 'portfolioApp.miscDirective', 'portfolioApp.sideProjectsController', 'portfolioApp.sitemapController', 'portfolioApp.wordProjectsController', 'AppConstants', 'ngResource', 'ngSanitize', 'ngRoute', 'HashBangURLs', 'portfolioAppConfig', 'jmdobry.angular-cache'])
  .config(function ($routeProvider, $httpProvider) {

    // Needed for CORS
    // http://better-inter.net/enabling-cors-in-angular-js/
    $httpProvider.defaults.useXDomain = true;
    delete $httpProvider.defaults.headers.common['X-Requested-With'];

    $routeProvider
      .when('/', {
        templateUrl: 'homepage/main.html',
        title: 'The portfolio and blog of web developer Andy Walpole'
      })
      .when('/work-projects', {
        templateUrl: 'work-projects/my_work.html',
        title: 'Noteworthy work projects from the past 18 months'
      })
      .when('/work-projects/:workPage', {
        templateUrl: 'work-projects/work_page.html',
        controller: 'WorkPageCtrl'
      })
       </pre>
      </a>
    </div>

    <div data-ng-if="hideFooter" id="recommended-article" data-ng-controller="FooterCtrl as FooterInherCtrl" data-ng-init="FooterInherCtrl.loadData()">

      <a data-ng-if="recArticle.link" data-ng-href="{{recArticle.link}}" target="_blank">
        <header>Latest recommended article: <em><span data-ng-bind="recArticle.title"></span></em>
          by <em><span data-ng-bind="recArticle.author"></span> / <span data-ng-bind="recArticle.date"></span></em>
        </header>
        <section><em data-ng-bind-html="recArticle.content"></em></section>
      </a>
    </div>

  </div>
  <!-- end footer top -->

  <div id="footer-bottom">
    <p class="footer-copyright">&copy; Andy Walpole / <a href="/#!/sitemap">Sitemap</a></p>
  </div>
  <!-- end footer bottom -->

</div><!-- end footer -->