<div id="banner">

    <section>
        <h2 class="page-top-title">About me</h2>
    </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix aboutme content-text">

    <div id="left-large">

        <h3 class="content-title">A little bit about myself</h3>

        <p>I built my first website with Microsoft Frontpage in 2002, committing myself full-time to web development from 2008 onwards.</p>

        <p>During this time I have worked with a wide variety of companies and individuals that range from sole traders to multinational corporations.</p>

        <p>I particularly enjoy working in a team and take great pride in my craftsmanship so as to produce the hightest quality code.</p>

        <h4 class="content-title">My core skill sets and strengths</h4>

    </div><!-- end left large -->

    <div id="right-small">

        <h5 class="content-title">My CV and online profiles</h5>

        <p>Please read Stack Overflow Careers 2.0 page: <a href="https://careers.stackoverflow.com/andyw" rel="external">https://careers.stackoverflow.com/andyw</a></p>


    </div><!-- end right small -->


</div><!-- end main content -->
