<div id="banner">

    <section>
        <h2 class="page-top-title">About me</h2>
    </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix aboutme content-text">

    <div id="left-large">

        <h3 class="content-title">A little bit about myself</h3>

        <p>I built my first website with Microsoft Frontpage in 2002, committing myself full-time to web development
            from 2008 onwards.</p>

        <p>During this time I have worked with a wide variety of companies and individuals that range from sole traders
            to multinational corporations.</p>

        <p>I particularly enjoy working in a team and take great pride in my craftsmanship so as to produce the hightest
            quality code.</p>

        <h4 class="content-title">My core skill sets and strengths</h4>

        <section class="clearfix">

                <div class="button-skills-aboutme section per_90"><span>HTML5</span></div>

                <div class="button-skills-aboutme section per_90"><span>CSS3</span></div>

                <div class="button-skills-aboutme section per_80"><span>JavaScript</span></div>

                <div class="button-skills-aboutme section per_70"><span>SASS</span></div>

                <div class="button-skills-aboutme section per_70"><span>AngularJS</span></div>

                <div class="button-skills-aboutme section per_70"><span>PHP</span></div>

                <div class="button-skills-aboutme section per_70"><span>Accessibility</span></div>

                <div class="button-skills-aboutme section per_70"><span>Bower, Grunt, Yeoman</span></div>

                <div class="button-skills-aboutme section per_70"><span>Wordpress</span></div>

                <div class="button-skills-aboutme section per_60"><span>Drupal</span></div>

                <div class="button-skills-aboutme section per_60"><span>Git</span></div>

                <div class="button-skills-aboutme section per_60"><span>Photoshop</span></div>

                <div class="button-skills-aboutme section per_50"><span>Usability</span></div>

                <div class="button-skills-aboutme section per_30"><span>node.js</span></div>

                <div class="button-skills-aboutme section per_30"><span>backbone.js</span></div>

                <div class="button-skills-aboutme section per_100"><span>Willingness to learn more</span></div>


        </section>
        <!-- end skills set -->

    </div>
    <!-- end left large -->

    <div id="right-small" >

        <h5 class="content-title">My CV and online profiles</h5>

        <p>Please read Stack Overflow Careers 2.0 page: <br /><a href="https://careers.stackoverflow.com/andyw"
                                                           rel="external" class="underline">https://careers.stackoverflow.com/andyw</a>
        </p>

        <a class="visible-phone" href="https://twitter.com/andywalpole"><img src="/images/svg/twitter.svg" alt="Twitter account of Andy Walpole" /></a>

    </div>
    <!-- end right small -->


</div><!-- end main content -->
