<div id="banner">

    <section>
        <h2 class="page-top-title">My blog</h2>
    </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix blog blog-single content-text">

    <div id="left-large">

        <article>

            <header><img data-ng-src="/{{displayImage}}" alt="" /></header>
            <section>

              <h3 class="blog-title" data-ng-bind="title"></h3>

              <p class="date">Andy Walpole / Category: <span rel="tag">General</span> / <span data-ng-bind="publishedDate | date"></span></p>

              <div data-ng-bind-html="content"></div>

            </section>

        </article>

        <div class="comments">

            <h5 class="content-title">Send a message</h5>

            <form action="/" method="post">

                <label for="name" class="visuallyhidden">Your name</label>
                <input type="text" id="name" value="" placeholder="Name" required="required" class="input" maxlength="120"/>

                <label for="email" class="visuallyhidden">Your email address</label>
                <input type="email" id="email" value="" placeholder="Email (will be kept private)" required="required" class="input" maxlength="120"/>

                <label for="url" class="visuallyhidden">Your website address</label>
                <input type="url" id="url" value="" placeholder="Website" required="required" class="input" maxlength="120"/>

                <label for="message" class="visuallyhidden">Your comments</label>
                <textarea id="message" cols="10" rows="10" placeholder="Your message" required="required"
                          class="textarea" maxlength="1000"></textarea>

            <span class="hide">
            <label for="zipcode" class="visuallyhidden">Your zipcode</label>
            <input type="text" id="zipcode" value="" maxlength="64"/>
            </span>

                <input type="submit" value="Post message" class="button-contact"/>

            </form>

        </div>
        <!-- end comments -->


    </div>
    <!-- end left large -->


    <div id="right-small">

        <h4 class="content-title">Recent posts</h4>

        <ul>
            <li>Using __autoload() In Your Object Orientated Wordpress Plugin</li>
            <li>A PHP Class To Create A Wordpress Custom Post Type With Dynamic Metaboxes</li>
            <li>Creating A Reusable JavaScript Form Validation Class</li>
            <li>Be Careful When Buying Electronic Goods From Amazon Associates</li>
        </ul>

        <h4 class="content-title">Categories</h4>

        <ul>
            <li>CSS</li>
            <li>Design</li>
            <li>Development</li>
            <li>Drupal</li>
            <li>General</li>
            <li>HTML</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>MySQL</li>
            <li>PHP</li>
            <li>Responsive Design</li>
            <li>Search Engines</li>
            <li>Security</li>
        </ul>

        <h4 class="content-title">Recent comments</h4>

        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</li>
        </ul>

    </div>
    <!-- end right small -->


</div><!-- end main content -->