<div id="banner">

  <section>
    <h2 class="page-top-title">My blog</h2>
  </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix blog content-text">

  <div id="left-large" data-blog-directive>

    <!-- repeat old blog posts here -->
    <div data-ng-repeat="blog in oldBlogPosts | limitTo: paginationStartFrom | limitTo: paginationPageSizeLimit | orderBy: '-publishedDate' track by $index">
      <div data-blog-block-directive blog="blog"></div>
    </div>

    <div id="pagination" class="clearfix">

      <div class="left-p" data-ng-click="prevPagination();">
        <a data-ng-href="{{prev}}" class="paglast" rel="prev"></a>
      </div>

      <div class="center-p">
        <a href="/#!/blog/?page=1" class="pag1"></a>
        <a href="/#!/blog/?page=2" class="pag2"></a>
        <a href="/#!/blog/?page=3" class="pag3"></a>
        <a href="/#!/blog/?page=4" class="pag4"></a>
        <a href="/#!/blog/?page=5" class="pag5"></a>
        <a href="/#!/blog/?page=6" class="pag6"></a>
        <a href="/#!/blog/?page=7" class="pag7"></a>
        <a href="/#!/blog/?page=8" class="pag8"></a>
        <a href="/#!/blog/?page=9" class="pag9"></a>
        <a href="/#!/blog/?page=10" class="pag10"></a>
      </div>

      <div class="right-p" data-ng-click="nextPagination();">
        <a data-ng-href="{{next}}" class="pagnext" rel="next"></a>
      </div>

    </div>


  </div>
  <!-- end left large -->

    <div data-ng-include src="'views/sidebar.html'"></div>

  <!-- end right small -->


</div><!-- end main content -->