<div id="banner">

  <section>
    <a href="/#!/blog/"><h2 class="page-top-title">My blog</h2></a>
  </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix blog blog-single content-text">

  <div id="left-large">

    <article itemscope itemtype="http://schema.org/BlogPosting">

      <header><img data-ng-src="/{{displayImage}}" alt=""/></header>
      <section>

        <h3 class="blog-title" data-ng-bind="title" itemprop="headline"></h3>

        <p class="date"><span itemprop="author">Andy Walpole</span> / Category: <span rel="tag">General</span> / <span
            data-ng-bind="publishedDate | date" itemprop="datePublished"></span></p>

        <aside data-ng-bind-html="aside"></aside>
        <div data-ng-bind-html="content" itemprop="articleBody"></div>

      </section>

    </article>

    <div data-ng-include src="'views/comment.html'"></div>

  </div>
  <!-- end left large -->

  <div data-ng-include src="'views/sidebar.html'"></div>
  <!-- end right small -->

</div><!-- end main content -->