<div id="banner">

  <section>
    <h2 class="page-top-title">Contact me</h2>
  </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix contact content-text">

  <div id="left-large">

    <div class="hidden-desktop">

      <h4 class="content-title">Get in touch</h4>

      <p>Andy Walpole<br>
        Web Developer</p>

      <p>07858756827<br>
        <a href="mailto:me@andywalpole.me?Subject=Contact%20from%20portfolio" class="underline">me@andywalpole.me</a>
      </p>

    </div>
    <!-- end right-large -->

    <h3 class="content-title">Send a message</h3>

    <p data-ng-bind="contact.successMessage"></p>

    <form novalidate="novalidate" name="contactForm"
          data-ng-submit="AdminFormCtrl.submitContactForm(contactForm.$valid)">

      <span class="name-block">
      <label for="name" class="visuallyhidden">Your full name</label>
      <span data-ng-show="contactForm.name.$invalid && submitted" class="error-message">Please supply your name.</span>
      <input type="text" id="name" name="name" value="" placeholder="Your full name" required="required" class="input"
             data-ng-required="true" data-ng-model="contact.name" maxlength="64"/>
      </span>

      <span class="email-block">
      <label for="email" class="visuallyhidden">Your email address</label>
      <span data-ng-show="contactForm.email.$invalid && submitted" class="error-message">Please supply a valid email address.</span>
      <input type="email" id="email" name="email" value="" placeholder="Your email address" required="required"
             class="input" data-ng-required="true" data-ng-model="contact.email" maxlength="64"/>
        </span>

      <span class="message-block">
      <label for="message" class="visuallyhidden">Please write a message</label>
      <span data-ng-show="contactForm.message.$invalid && submitted" class="error-message">Don't forget to write a message!</span>
      <textarea id="message" cols="10" rows="10" name="message" placeholder="Your message" required="required"
                class="textarea" data-ng-required="true" data-ng-model="contact.message" maxlength="500"></textarea>
        </span>

            <span class="hide">
            <label for="zipcode" class="visuallyhidden">Your zipcode</label>
            <input type="text" id="zipcode" name="zipcode" value="" data-ng-pattern="zipRegex"
                   data-ng-model="contact.zipcode" maxlength="500"/>
            </span>

      <input type="submit" value="Send message" class="button-contact" data-ng-disabled="contact.successMessageDisable" />

    </form>

  </div>
  <!-- end left-large -->

  <div id="right-small">

    <h4 class="content-title">Get in touch</h4>

    <p>Andy Walpole<br>
      Web Developer</p>

    <p>07858756827<br>
      <a href="mailto:me@andywalpole.me?Subject=Contact%20from%20portfolio" class="underline">me@andywalpole.me</a></p>

  </div>
  <!-- end right-large -->


</div><!-- end main-content -->