<div id="footer">

    <div id="footer-top" data-ng-if="currentPage">
    <a href="https://github.com/TCotton/portfolio" target="_blank">

    <pre class="code-preview">
/**
 * This entire site is coded in AngularJS. Inspect the code on GitHub: https://github.com/TCotton/portfolio
 */

angular.module('portfolioApp.controllers', []);
angular.module('portfolioApp.directives', []);
angular.module('portfolioApp.services', []);

angular.module('portfolioApp', ['portfolioApp.controllers', 'portfolioApp.directives', 'portfolioApp.services', 'AppConstants', 'ngCookies', 'ngResource', 'ngSanitize', 'ngRoute', 'ngTouch', 'ngAnimate', 'HashBangURLs', 'portfolioAppConfig', 'jmdobry.angular-cache'])
  .config(function ($routeProvider, $httpProvider) {

    $routeProvider
      .when('/', {
        templateUrl: 'views/main.html',
        title: 'Portfolio and blog of web developer Andy Walpole'
      })
      .when('/work-projects', {
        templateUrl: 'views/my_work.html',
        title: 'Noteworthy work projects from the past 18 months'
      })
      .when('/work-projects/:workPage', {
        templateUrl: 'views/work_page.html',
        controller: 'WorkPageCtrl'
      })
      .when('/side-projects', {
        templateUrl: 'views/side_projects.html',
        title: 'Noteworthy personal side projects from the past 18 months'
      })
      .when('/side-projects/:projectsPage', {
        templateUrl: 'views/projects_page.html',
        controller: 'ProjectsPageCtrl'
      })
      .when('/about-me', {
        templateUrl: 'views/about_me.html',
        title: 'Skills and contract details'
      })
      .when('/contact-me', {
        templateUrl: 'views/contact_me.html',
        controller: 'FormCtrl as AdminFormCtrl',
        title: 'Contact form'
      })
      .when('/blog/', {
        templateUrl: 'views/blog.html',
        controller: 'BlogCtrl',
        title: 'Web development blog'
      })
      .when('/blog/:blogId/:blogPage', {
        templateUrl: 'views/blog_page.html',
        controller: 'BlogArticleCtrl'
      })
      .when('/login', {
        templateUrl: 'views/admin/login.html',
        controller: 'LoginCtrl as AdminLogin',
        title: 'Admin login form'
      })
      .when('/admin/user-details', {
        templateUrl: 'views/admin/user_details.html',
        controller: 'UserDetailsCtrl as AdminUserDetailsCtrl',
        title: 'Admin area - add, edit or delete users with admin privledges'
      })
      .when('/admin/blog-details', {
        templateUrl: 'views/admin/blog_details.html',
        controller: 'EditBlogCtrl as AdminEditBlogCtrl',
        title: 'Admin area - edit or delete blog posts'
      })
      .when('/admin/add-blog', {
        templateUrl: 'views/admin/add_blog.html',
        controller: 'AddBlogCtrl as AdminAddBlogCtrl',
        title: 'Admin area - add new blog articles'
      })
      .when('/admin/', {
        templateUrl: 'views/admin/admin.html',
        title: 'Admin area'
      })
      .otherwise({
        redirectTo: '/'
      });

  });
       </pre>
    </a>
    </div>
    <!-- end footer top -->

    <div id="footer-bottom">
        <p class="footer-copyright">&copy; Andy Walpole</p>
    </div>
    <!-- end footer bottom -->

</div><!-- end footer -->