<div id="header">

    <div id="header-top">

        <div id="logo">

            <h1>Andy Walpole</h1>

        </div><!-- end logo -->

        <div id="navigation">

            <ul>
                <li>My Work</li>
                <li>Side Projects</li>
                <li>About me</li>
                <li>Contact me</li>
                <li>My Blog</li>
            </ul>

        </div><!-- end navigation -->

    </div><!-- end header-top -->

    <div id="header-bottom">

    </div><!-- end header-bottom -->

</div><!-- end header -->