<div id="slider" data-slider-directive ng-class=" slideClass ">

    <section>
        <h2 class="page-top-title">Thompson Reuters Japan</h2>
        <p class="page-top-text">Lorem ipsum dolor sit amet, consectetur adipisiing elit, sed do eiusmod tempor incididunt ut.</p>
        <a href="" class="button-front-one">View Project</a>
    </section>

    <div class="left-arrow"></div>
    <div class="right-arrow"></div>

</div>
<!-- end slider -->
<div id="homepage-stats" class="clearfix">

    <span>
        <header class="front-page-bottom-header">8236</header>
        <section class="front-page-bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</section>
    </span>

    <span>
        <header class="front-page-bottom-header">3</header>
        <section class="front-page-bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</section>
    </span>

    <span>
        <header class="front-page-bottom-header">23</header>
        <section class="front-page-bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</section>
    </span>

    <span>
        <header class="front-page-bottom-header visible-desktop">843</header>
        <section class="front-page-bottom-text visible-desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit</section>
    </span>

    <span>
        <header class="front-page-bottom-header visible-desktop">99%</header>
        <section class="front-page-bottom-text visible-desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit</section>
    <span>

</div><!-- end homepage-stats -->
