<div data-slider-directive data-slider="slider"></div>

<div id="homepage-stats" class="clearfix">

    <span>
        <header class="front-page-bottom-header">2201</header>
        <section class="front-page-bottom-text">Days working as a full-time web developer</section>
    </span>

    <span>
        <header class="front-page-bottom-header">3</header>
        <section class="front-page-bottom-text">Cups of coffee before I start work in the morning</section>
    </span>

    <span>
        <header class="front-page-bottom-header">81</header>
        <section class="front-page-bottom-text">Industry RSS feeds I subscribe to using NewsBlur</section>
    </span>

    <span>
        <header class="front-page-bottom-header visible-desktop">3</header>
        <section class="front-page-bottom-text visible-desktop">Minutes before I check my Twitter feed after I wake up</section>
    </span>

    <span>
        <header class="front-page-bottom-header visible-desktop">66<sup>%</sup></header>
        <section class="front-page-bottom-text visible-desktop">Unit coverage of this site using Karma and Jasmine</section>
    <span>

</div><!-- end homepage-stats -->
