<div id="banner">

    <section>
        <h2 class="page-top-title">My Work</h2>
    </section>

</div><!-- end banner -->


<div id="main-content" class="clearfix my-work">

    <div class="my-work-box-one">
        <header><h3 class="work-box-header">Blinkboxbooks</h3></header>
    </div><!-- end my-work-box one -->

    <div class="my-work-box-two">
        <header><h3 class="work-box-header">Thompson Reuters Japan</h3></header>
    </div><!-- end my-work-box two -->

    <div class="my-work-box-three">
        <header><h3 class="work-box-header">UK Law Student</h3></header>
    </div><!-- end my-work-box three -->

    <div class="my-work-box-four">
        <header><h3 class="work-box-header">Kaplan International</h3></header>
    </div><!-- end my-work-box four -->

    <div class="my-work-box-five">
        <header><h3 class="work-box-header">Dr Newmans Clinic</h3></header>
    </div><!-- end my-work-box five -->

    <div class="my-work-box-six">

    </div><!-- end my-work-box five -->


</div><!-- end main-content -->