<div id="banner">

    <section>
        <h2 class="page-top-title">My Work</h2>
    </section>

</div><!-- end banner -->


<div id="main-content" class="clearfix">

    <div class="my-work-box-one">

    </div><!-- end my-work-box one -->

    <div class="my-work-box-two">

    </div><!-- end my-work-box two -->

    <div class="my-work-box-three">

    </div><!-- end my-work-box three -->

    <div class="my-work-box-four">

    </div><!-- end my-work-box four -->

    <div class="my-work-box-five">

    </div><!-- end my-work-box five -->

    <div class="my-work-box-six">

    </div><!-- end my-work-box five -->


</div><!-- end main-content -->