<div id="banner">

    <section>
        <h2 class="page-top-title">Work projects</h2>
    </section>

</div><!-- end banner -->


<div id="main-content" class="clearfix my-work">

    <a href="" class="project-box-one">
        <header><h3 class="project-header">Blinkboxbooks</h3></header>
        <!-- end my-work-box one -->
    </a>

    <a href="" class="project-box-two">
        <header><h3 class="project-header">Thompson Reuters Japan</h3></header>
        <!-- end my-work-box two -->
    </a>

    <a href="" class="project-box-three">
        <header><h3 class="project-header">UK Law Student</h3></header>
    </a>
    <!-- end my-work-box three -->


    <a href="" class="project-box-four">
        <header><h3 class="project-header">Kaplan International</h3></header>
        <!-- end my-work-box four -->
    </a>

    <a href="" class="project-box-five">
        <header><h3 class="project-header">Dr Newmans Clinic</h3></header>
        <!-- end my-work-box five -->
    </a>

    <a href="" class="project-box-six">

        <!-- end my-work-box five -->
    </a>


</div><!-- end main-content -->