<div id="banner">

    <section>
        <h2 class="page-top-title">Blinkboxbooks</h2>

        <p class="page-top-text-banner">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut.</p>
    </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix my-work content-text">

    <div id="left-small">

        <article>

            <p>Blinkboxbooks is an a ecommerce book store owned by Tesco. It is built on a full JavaScript stack using
                angular.js on the frontend and node.js on the backend for routing services.</p>

            <p>My primary responsibility in this project was performance. At the initial usability tests in November
                2013,
                the website was over 3mb in size and took 22 seconds to load on the Tesco Hudle android tablet. By
                January
                2014 the size of the homepage had been reduced to 565kb in size and with load time of under seven
                seconds on
                the Hudle, with under 2 seconds the desktop.</p>

            <p>The website is responsive with a heavy emphasis on visual and functionality polarity between the website
                and
                the android and iOS apps.</p>

            <p class="minor-title">Code used:</p>

            <p>Angular.js & Node.js</p>

            <p class="minor-title">Client:</p>

            <p>Tesco</p>

            <p class="minor-title">Agency:</p>

            <p>Tesco & Blinkboxbooks</p>

        </article>

        <div class="pagination visible-desktop">

            <a href="" class="paglast"></a>
            <a href="" class="pagHome"></a>
            <a href="" class="pagnext"></a>

        </div><!-- end pagination -->

    </div>
    <!-- end left small -->

    <div id="right-large">

        <img src="/images/blinkboxbooks-screenshot.jpg" alt="blinkboxbooks"/>

        <div class="pagination clearfix hidden-desktop">

            <a href="" class="paglast"></a>
            <a href="" class="pagHome"></a>
            <a href="" class="pagnext"></a>

        </div><!-- end pagination -->

    </div>
    <!-- end right large -->


</div><!-- end main-content -->