<div id="banner">

    <section>
        <h2 class="page-top-title" data-ng-bind-html="title"></h2>

        <p class="page-top-text-banner" data-ng-bind="summary"></p>
    </section>

</div><!-- end banner -->

<div id="main-content" class="clearfix my-work content-text">

    <div id="left-small">

        <article>

            <div data-ng-bind-html="details"></div>

            <p class="minor-title">Code used:</p>

            <p data-ng-bind="code"></p>

            <p class="minor-title">Company:</p>

            <p data-ng-bind="company"></p>

        </article>

        <div class="pagination visible-desktop">

            <a data-ng-href="{{prevPage}}" rel="prev" class="paglast"></a>
            <a href="/work-projects/" class="pagHome"></a>
            <a data-ng-href="{{nextPage}}" rel="next" class="pagnext"></a>

        </div><!-- end pagination -->

    </div>
    <!-- end left small -->

    <div id="right-large">

        <img data-ng-src="{{workImage}}"  alt="{{title}}"/>

        <div class="pagination clearfix hidden-desktop">

            <a data-ng-href="{{prevPage}}" rel="prev" class="paglast"></a>
            <a href="/work-projects/" class="pagHome"></a>
            <a data-ng-href="{{nextPage}}" rel="next" class="pagnext"></a>

        </div><!-- end pagination -->

    </div>
    <!-- end right large -->


</div><!-- end main-content -->