<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <script>
    // takes header template and attaches it into header
    // then append require, config and loader script inside the body tag
    // un-minified version of this script here: https://gist.github.com/TCotton/7a60d397a9dfeb72efc7
    (function(g,d){if(g.Promise){var c,e,h;c=[
      "/compiled/assets/js/vendor/require.js",
      "/compiled/assets/js/config/admin/config.js",
      // add Loader script below
      "/compiled/assets/js/admin/loaders/<%= sectionName %>/<%= sectionName %>Loader.js"
    ];e=function(a){script=d.createElement("script");script.src=a;script.type="text/javascript";d.body.appendChild(script)};h=function(a){var f,b=d.querySelectorAll('[rel="stylesheet"]'),c=b.length-1;f=d.createElement("script");f.src=a;f.type="text/javascript";b[c].parentNode.insertBefore(f,b[c])};(new Promise(function(a, c){var b=new XMLHttpRequest;b.open("GET","/compiled/assets/js/admin/templates/common/header.html");b.onload=function(){200===b.status&&a(b.response)};b.onerror=function(){c(Error("Error fetching data."))};b.send()})).then(function(a){d.head.insertAdjacentHTML("afterbegin",a)}).then(function(){h("/compiled/assets/js/vendor/polyfills.js")}).then(function(){var a;e(c[0]);a=setInterval(function(){"function"===typeof g.require&&(e(c[1]),e(c[2]),clearInterval(a))},20)})}else alert("Sorry, but this website does not work in your browser")})(window, document);
  </script>
</head>
<body>

<!-- common navigation -->
<div ng-include src="'/compiled/assets/js/admin/templates/common/header-html.html'"></div>

<!-- main content start -->
<div class="container-fluid">

  <!-- change content template based on page -->
  <div ng-include src="'/compiled/assets/js/admin/templates/<%= sectionName %>/<%= hyphenatedSectionName %>.html'"></div>

</div>
<!-- main content end -->

<!-- common footer -->
<div ng-include src="'/compiled/assets/js/admin/templates/common/footer-html.html'"></div>
<!-- end common footer -->

</body>
</html>
